Bucket/3D_Flow.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 712.0,
            "y" : 792.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "e936b3e2-ba13-3d1a-b9c8-0677f00792b7",
            "name" : "Store Files with a number above 50",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "5d29cfe7-d345-3470-a330-63c41a647a21",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "bigThan50" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "a81fa04c-bd2d-3b7a-8d1f-0996a5fc5c7e",
            "name" : "Route based on values",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1048.0,
            "y" : 712.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "a891f581-a6eb-30f2-bdc5-a89985f8fe33",
            "name" : "Store Files with a number below 50",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "91a413ea-7359-3131-ad0c-0b57199d1cb0",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "lessThan50" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "a81fa04c-bd2d-3b7a-8d1f-0996a5fc5c7e",
            "name" : "Route based on values",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 945.0,
            "y" : 889.0
          }, {
            "x" : 945.0,
            "y" : 939.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "e936b3e2-ba13-3d1a-b9c8-0677f00792b7",
            "name" : "Store Files with a number above 50",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "20dfc371-abcb-3eae-9b06-80944724f4f0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "e936b3e2-ba13-3d1a-b9c8-0677f00792b7",
            "name" : "Store Files with a number above 50",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1369.9999389648438,
            "y" : 789.0
          }, {
            "x" : 1369.9999389648438,
            "y" : 839.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "a891f581-a6eb-30f2-bdc5-a89985f8fe33",
            "name" : "Store Files with a number below 50",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "e86d5272-6e1b-3a0f-ae74-92aa2f924022",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "a891f581-a6eb-30f2-bdc5-a89985f8fe33",
            "name" : "Store Files with a number below 50",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1312.0,
            "y" : 264.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "ef7d74de-36d5-3625-a513-89634a4e2440",
            "name" : "Extract Text and assign into properties",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "00873205-b239-3f3a-9e75-307704bd3533",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "f65ee64f-f0f9-3014-9f7e-2ab2926cf95c",
            "name" : "Generate Files with random content",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "100 KB",
          "backPressureObjectThreshold" : 10,
          "bends" : [ {
            "x" : 1312.0,
            "y" : 408.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "94461705-e085-3010-8bbb-4379c9fa6433",
            "name" : "Update Filename",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "3600 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "801d4a10-3826-31ca-a0af-f7d3b4c54454",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched", "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "ef7d74de-36d5-3625-a513-89634a4e2440",
            "name" : "Extract Text and assign into properties",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 2248.0,
            "y" : 896.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "2cdf9edb-aa29-3242-84de-db1c08ff3632",
            "name" : "Store Files in S3 completed bucket",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "ca9a9904-ae12-3b3c-aedb-33d23b6a8219",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "valid" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "dc2dc6e0-0e97-3f5a-a08f-d06617279c11",
            "name" : "Route based on values",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1640.0,
            "y" : 896.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "d33d4035-4899-350a-9f05-21723d97aefc",
            "name" : "Store Files in S3 failed bucket",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "e174300e-dc32-3ddf-9c9b-7c8755e5bb0c",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "invalid" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "dc2dc6e0-0e97-3f5a-a08f-d06617279c11",
            "name" : "Route based on values",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 704.0,
            "y" : 520.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "11f57e65-13b3-3de7-8379-50e20b095ac8",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "8642a3db-c121-3585-b362-fb252114a5dd",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "a81fa04c-bd2d-3b7a-8d1f-0996a5fc5c7e",
            "name" : "Route based on values",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1312.0,
            "y" : 544.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "a81fa04c-bd2d-3b7a-8d1f-0996a5fc5c7e",
            "name" : "Route based on values",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "fb8b3a74-42c7-30de-b949-f713e034bca3",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "94461705-e085-3010-8bbb-4379c9fa6433",
            "name" : "Update Filename",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 1632.0,
            "y" : 184.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "561d2a2e-613d-365a-881f-68f12fbe3054",
            "name" : "Funnel",
            "type" : "FUNNEL"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "f199ceaf-2848-36e7-8073-dbfa676ce49e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
            "id" : "0af2a896-8ac9-3652-8647-4350d478c0a9",
            "name" : "Listen on POST requests",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ {
          "componentType" : "FUNNEL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "561d2a2e-613d-365a-881f-68f12fbe3054",
          "position" : {
            "x" : 1424.0,
            "y" : 160.0
          }
        } ],
        "identifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "3D Flow",
        "outputPorts" : [ ],
        "position" : {
          "x" : 712.0,
          "y" : 176.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "ef7d74de-36d5-3625-a513-89634a4e2440",
          "name" : "Extract Text and assign into properties",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 840.0,
            "y" : 272.0
          },
          "properties" : {
            "Enable Unicode Predefined Character Classes" : "false",
            "Permit Whitespace and Comments in Pattern" : "false",
            "Enable Unicode-aware Case Folding" : "false",
            "Enable DOTALL Mode" : "false",
            "Enable Unix Lines Mode" : "false",
            "random-value" : ".*,.*,.*,(.*)",
            "Maximum Buffer Size" : "1 MB",
            "Enable Canonical Equivalence" : "false",
            "Enable Case-insensitive Matching" : "false",
            "Enable Multiline Mode" : "false",
            "seconds" : ".*,.*,(.*),.*",
            "Maximum Capture Group Length" : "1024",
            "Enable Literal Parsing of the Pattern" : "false",
            "Character Set" : "UTF-8",
            "Include Capture Group 0" : "true",
            "extract-text-enable-repeating-capture-group" : "false"
          },
          "propertyDescriptors" : {
            "Enable Unicode Predefined Character Classes" : {
              "displayName" : "Enable Unicode Predefined Character Classes",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode Predefined Character Classes",
              "sensitive" : false
            },
            "Permit Whitespace and Comments in Pattern" : {
              "displayName" : "Permit Whitespace and Comments in Pattern",
              "identifiesControllerService" : false,
              "name" : "Permit Whitespace and Comments in Pattern",
              "sensitive" : false
            },
            "Enable Unicode-aware Case Folding" : {
              "displayName" : "Enable Unicode-aware Case Folding",
              "identifiesControllerService" : false,
              "name" : "Enable Unicode-aware Case Folding",
              "sensitive" : false
            },
            "Enable DOTALL Mode" : {
              "displayName" : "Enable DOTALL Mode",
              "identifiesControllerService" : false,
              "name" : "Enable DOTALL Mode",
              "sensitive" : false
            },
            "Enable Unix Lines Mode" : {
              "displayName" : "Enable Unix Lines Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Unix Lines Mode",
              "sensitive" : false
            },
            "random-value" : {
              "displayName" : "random-value",
              "identifiesControllerService" : false,
              "name" : "random-value",
              "sensitive" : false
            },
            "Maximum Buffer Size" : {
              "displayName" : "Maximum Buffer Size",
              "identifiesControllerService" : false,
              "name" : "Maximum Buffer Size",
              "sensitive" : false
            },
            "Enable Canonical Equivalence" : {
              "displayName" : "Enable Canonical Equivalence",
              "identifiesControllerService" : false,
              "name" : "Enable Canonical Equivalence",
              "sensitive" : false
            },
            "Enable Case-insensitive Matching" : {
              "displayName" : "Enable Case-insensitive Matching",
              "identifiesControllerService" : false,
              "name" : "Enable Case-insensitive Matching",
              "sensitive" : false
            },
            "Enable Multiline Mode" : {
              "displayName" : "Enable Multiline Mode",
              "identifiesControllerService" : false,
              "name" : "Enable Multiline Mode",
              "sensitive" : false
            },
            "seconds" : {
              "displayName" : "seconds",
              "identifiesControllerService" : false,
              "name" : "seconds",
              "sensitive" : false
            },
            "Maximum Capture Group Length" : {
              "displayName" : "Maximum Capture Group Length",
              "identifiesControllerService" : false,
              "name" : "Maximum Capture Group Length",
              "sensitive" : false
            },
            "Enable Literal Parsing of the Pattern" : {
              "displayName" : "Enable Literal Parsing of the Pattern",
              "identifiesControllerService" : false,
              "name" : "Enable Literal Parsing of the Pattern",
              "sensitive" : false
            },
            "Character Set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "Character Set",
              "sensitive" : false
            },
            "Include Capture Group 0" : {
              "displayName" : "Include Capture Group 0",
              "identifiesControllerService" : false,
              "name" : "Include Capture Group 0",
              "sensitive" : false
            },
            "extract-text-enable-repeating-capture-group" : {
              "displayName" : "Enable repeating capture group",
              "identifiesControllerService" : false,
              "name" : "extract-text-enable-repeating-capture-group",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ExtractText",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "51058a85-f9b9-328c-9020-54387e71ad71",
          "name" : "Invoke GET /validations",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1768.0,
            "y" : 664.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://localhost:8084/validations",
            "Content-Type" : "${mime.type}",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set Flowfile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Flowfile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "1 min",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "a891f581-a6eb-30f2-bdc5-a89985f8fe33",
          "name" : "Store Files with a number below 50",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 904.0,
            "y" : 760.0
          },
          "properties" : {
            "FullControl User List" : "${s3.permissions.full.users}",
            "Owner" : "${s3.owner}",
            "s3-object-remove-tags-prefix" : "false",
            "Endpoint Override URL" : "http://10.45.129.235:9000",
            "Multipart Upload Max Age Threshold" : "7 days",
            "canned-acl" : "${s3.permissions.cannedacl}",
            "Signer Override" : "Default Signature",
            "Write ACL User List" : "${s3.permissions.writeacl.users}",
            "server-side-encryption" : "None",
            "Read ACL User List" : "${s3.permissions.readacl.users}",
            "Storage Class" : "Standard",
            "Multipart Part Size" : "5 GB",
            "use-chunked-encoding" : "true",
            "Object Key" : "${filename}",
            "Multipart Threshold" : "5 GB",
            "Bucket" : "3dtiles/below50",
            "Multipart Upload AgeOff Interval" : "60 min",
            "use-path-style-access" : "false",
            "Write Permission User List" : "${s3.permissions.write.users}",
            "Communications Timeout" : "30 secs",
            "Region" : "eu-west-1",
            "Read Permission User List" : "${s3.permissions.read.users}"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "FullControl User List" : {
              "displayName" : "FullControl User List",
              "identifiesControllerService" : false,
              "name" : "FullControl User List",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Cache Control" : {
              "displayName" : "Cache Control",
              "identifiesControllerService" : false,
              "name" : "Cache Control",
              "sensitive" : false
            },
            "s3-object-remove-tags-prefix" : {
              "displayName" : "Remove Tag Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-remove-tags-prefix",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "Multipart Upload Max Age Threshold" : {
              "displayName" : "Multipart Upload Max Age Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload Max Age Threshold",
              "sensitive" : false
            },
            "canned-acl" : {
              "displayName" : "Canned ACL",
              "identifiesControllerService" : false,
              "name" : "canned-acl",
              "sensitive" : false
            },
            "Signer Override" : {
              "displayName" : "Signer Override",
              "identifiesControllerService" : false,
              "name" : "Signer Override",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Content Type" : {
              "displayName" : "Content Type",
              "identifiesControllerService" : false,
              "name" : "Content Type",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Write ACL User List" : {
              "displayName" : "Write ACL User List",
              "identifiesControllerService" : false,
              "name" : "Write ACL User List",
              "sensitive" : false
            },
            "server-side-encryption" : {
              "displayName" : "Server Side Encryption",
              "identifiesControllerService" : false,
              "name" : "server-side-encryption",
              "sensitive" : false
            },
            "Read ACL User List" : {
              "displayName" : "Read ACL User List",
              "identifiesControllerService" : false,
              "name" : "Read ACL User List",
              "sensitive" : false
            },
            "encryption-service" : {
              "displayName" : "Encryption Service",
              "identifiesControllerService" : true,
              "name" : "encryption-service",
              "sensitive" : false
            },
            "Content Disposition" : {
              "displayName" : "Content Disposition",
              "identifiesControllerService" : false,
              "name" : "Content Disposition",
              "sensitive" : false
            },
            "Storage Class" : {
              "displayName" : "Storage Class",
              "identifiesControllerService" : false,
              "name" : "Storage Class",
              "sensitive" : false
            },
            "Multipart Part Size" : {
              "displayName" : "Multipart Part Size",
              "identifiesControllerService" : false,
              "name" : "Multipart Part Size",
              "sensitive" : false
            },
            "use-chunked-encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "use-chunked-encoding",
              "sensitive" : false
            },
            "Object Key" : {
              "displayName" : "Object Key",
              "identifiesControllerService" : false,
              "name" : "Object Key",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "Multipart Threshold" : {
              "displayName" : "Multipart Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Threshold",
              "sensitive" : false
            },
            "s3-object-tags-prefix" : {
              "displayName" : "Object Tags Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-tags-prefix",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Bucket" : {
              "displayName" : "Bucket",
              "identifiesControllerService" : false,
              "name" : "Bucket",
              "sensitive" : false
            },
            "Multipart Upload AgeOff Interval" : {
              "displayName" : "Multipart Upload AgeOff Interval",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload AgeOff Interval",
              "sensitive" : false
            },
            "use-path-style-access" : {
              "displayName" : "Use Path Style Access",
              "identifiesControllerService" : false,
              "name" : "use-path-style-access",
              "sensitive" : false
            },
            "Write Permission User List" : {
              "displayName" : "Write Permission User List",
              "identifiesControllerService" : false,
              "name" : "Write Permission User List",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Read Permission User List" : {
              "displayName" : "Read Permission User List",
              "identifiesControllerService" : false,
              "name" : "Read Permission User List",
              "sensitive" : false
            },
            "Expiration Time Rule" : {
              "displayName" : "Expiration Time Rule",
              "identifiesControllerService" : false,
              "name" : "Expiration Time Rule",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "dc2dc6e0-0e97-3f5a-a08f-d06617279c11",
          "name" : "Route based on values",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1768.0,
            "y" : 800.0
          },
          "properties" : {
            "valid" : "${validations:equals('valid')}",
            "Routing Strategy" : "Route to Property name",
            "invalid" : "${validations:equals('invalid')}"
          },
          "propertyDescriptors" : {
            "valid" : {
              "displayName" : "valid",
              "identifiesControllerService" : false,
              "name" : "valid",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "invalid" : {
              "displayName" : "invalid",
              "identifiesControllerService" : false,
              "name" : "invalid",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "e7633d50-e85a-3cef-bc8b-085b36b480bc",
          "name" : "Store Files in S3 inProgress bucket",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1768.0,
            "y" : 392.0
          },
          "properties" : {
            "FullControl User List" : "${s3.permissions.full.users}",
            "Owner" : "${s3.owner}",
            "s3-object-remove-tags-prefix" : "false",
            "Endpoint Override URL" : "http://10.45.129.235:9000",
            "Multipart Upload Max Age Threshold" : "7 days",
            "canned-acl" : "${s3.permissions.cannedacl}",
            "Signer Override" : "Default Signature",
            "Write ACL User List" : "${s3.permissions.writeacl.users}",
            "server-side-encryption" : "None",
            "Read ACL User List" : "${s3.permissions.readacl.users}",
            "Storage Class" : "Standard",
            "Multipart Part Size" : "5 GB",
            "use-chunked-encoding" : "true",
            "Object Key" : "${filename}",
            "Multipart Threshold" : "5 GB",
            "Bucket" : "3dtiles/inProgress",
            "Multipart Upload AgeOff Interval" : "60 min",
            "use-path-style-access" : "false",
            "Write Permission User List" : "${s3.permissions.write.users}",
            "Communications Timeout" : "30 secs",
            "Region" : "us-west-2",
            "Read Permission User List" : "${s3.permissions.read.users}"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "FullControl User List" : {
              "displayName" : "FullControl User List",
              "identifiesControllerService" : false,
              "name" : "FullControl User List",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Cache Control" : {
              "displayName" : "Cache Control",
              "identifiesControllerService" : false,
              "name" : "Cache Control",
              "sensitive" : false
            },
            "s3-object-remove-tags-prefix" : {
              "displayName" : "Remove Tag Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-remove-tags-prefix",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "Multipart Upload Max Age Threshold" : {
              "displayName" : "Multipart Upload Max Age Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload Max Age Threshold",
              "sensitive" : false
            },
            "canned-acl" : {
              "displayName" : "Canned ACL",
              "identifiesControllerService" : false,
              "name" : "canned-acl",
              "sensitive" : false
            },
            "Signer Override" : {
              "displayName" : "Signer Override",
              "identifiesControllerService" : false,
              "name" : "Signer Override",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Content Type" : {
              "displayName" : "Content Type",
              "identifiesControllerService" : false,
              "name" : "Content Type",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Write ACL User List" : {
              "displayName" : "Write ACL User List",
              "identifiesControllerService" : false,
              "name" : "Write ACL User List",
              "sensitive" : false
            },
            "server-side-encryption" : {
              "displayName" : "Server Side Encryption",
              "identifiesControllerService" : false,
              "name" : "server-side-encryption",
              "sensitive" : false
            },
            "Read ACL User List" : {
              "displayName" : "Read ACL User List",
              "identifiesControllerService" : false,
              "name" : "Read ACL User List",
              "sensitive" : false
            },
            "encryption-service" : {
              "displayName" : "Encryption Service",
              "identifiesControllerService" : true,
              "name" : "encryption-service",
              "sensitive" : false
            },
            "Content Disposition" : {
              "displayName" : "Content Disposition",
              "identifiesControllerService" : false,
              "name" : "Content Disposition",
              "sensitive" : false
            },
            "Storage Class" : {
              "displayName" : "Storage Class",
              "identifiesControllerService" : false,
              "name" : "Storage Class",
              "sensitive" : false
            },
            "Multipart Part Size" : {
              "displayName" : "Multipart Part Size",
              "identifiesControllerService" : false,
              "name" : "Multipart Part Size",
              "sensitive" : false
            },
            "use-chunked-encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "use-chunked-encoding",
              "sensitive" : false
            },
            "Object Key" : {
              "displayName" : "Object Key",
              "identifiesControllerService" : false,
              "name" : "Object Key",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "Multipart Threshold" : {
              "displayName" : "Multipart Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Threshold",
              "sensitive" : false
            },
            "s3-object-tags-prefix" : {
              "displayName" : "Object Tags Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-tags-prefix",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Bucket" : {
              "displayName" : "Bucket",
              "identifiesControllerService" : false,
              "name" : "Bucket",
              "sensitive" : false
            },
            "Multipart Upload AgeOff Interval" : {
              "displayName" : "Multipart Upload AgeOff Interval",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload AgeOff Interval",
              "sensitive" : false
            },
            "use-path-style-access" : {
              "displayName" : "Use Path Style Access",
              "identifiesControllerService" : false,
              "name" : "use-path-style-access",
              "sensitive" : false
            },
            "Write Permission User List" : {
              "displayName" : "Write Permission User List",
              "identifiesControllerService" : false,
              "name" : "Write Permission User List",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Read Permission User List" : {
              "displayName" : "Read Permission User List",
              "identifiesControllerService" : false,
              "name" : "Read Permission User List",
              "sensitive" : false
            },
            "Expiration Time Rule" : {
              "displayName" : "Expiration Time Rule",
              "identifiesControllerService" : false,
              "name" : "Expiration Time Rule",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "a81fa04c-bd2d-3b7a-8d1f-0996a5fc5c7e",
          "name" : "Route based on values",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 840.0,
            "y" : 544.0
          },
          "properties" : {
            "bigThan50" : "${random-value:ge(50)}",
            "Routing Strategy" : "Route to Property name",
            "lessThan50" : "${random-value:lt(50)}"
          },
          "propertyDescriptors" : {
            "bigThan50" : {
              "displayName" : "bigThan50",
              "identifiesControllerService" : false,
              "name" : "bigThan50",
              "sensitive" : false
            },
            "Routing Strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "Routing Strategy",
              "sensitive" : false
            },
            "lessThan50" : {
              "displayName" : "lessThan50",
              "identifiesControllerService" : false,
              "name" : "lessThan50",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "6af31a84-25d1-36ee-a1a2-4e2b13a94acc",
          "name" : "Get Files from file system",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1768.0,
            "y" : 256.0
          },
          "properties" : {
            "Keep Source File" : "false",
            "Minimum File Age" : "0 sec",
            "Polling Interval" : "0 sec",
            "Batch Size" : "10",
            "Minimum File Size" : "0 B",
            "Ignore Hidden Files" : "true",
            "Recurse Subdirectories" : "true",
            "File Filter" : "[^\\.].*"
          },
          "propertyDescriptors" : {
            "Keep Source File" : {
              "displayName" : "Keep Source File",
              "identifiesControllerService" : false,
              "name" : "Keep Source File",
              "sensitive" : false
            },
            "Minimum File Age" : {
              "displayName" : "Minimum File Age",
              "identifiesControllerService" : false,
              "name" : "Minimum File Age",
              "sensitive" : false
            },
            "Polling Interval" : {
              "displayName" : "Polling Interval",
              "identifiesControllerService" : false,
              "name" : "Polling Interval",
              "sensitive" : false
            },
            "Input Directory" : {
              "displayName" : "Input Directory",
              "identifiesControllerService" : false,
              "name" : "Input Directory",
              "sensitive" : false
            },
            "Maximum File Age" : {
              "displayName" : "Maximum File Age",
              "identifiesControllerService" : false,
              "name" : "Maximum File Age",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Maximum File Size" : {
              "displayName" : "Maximum File Size",
              "identifiesControllerService" : false,
              "name" : "Maximum File Size",
              "sensitive" : false
            },
            "Minimum File Size" : {
              "displayName" : "Minimum File Size",
              "identifiesControllerService" : false,
              "name" : "Minimum File Size",
              "sensitive" : false
            },
            "Ignore Hidden Files" : {
              "displayName" : "Ignore Hidden Files",
              "identifiesControllerService" : false,
              "name" : "Ignore Hidden Files",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "Path Filter" : {
              "displayName" : "Path Filter",
              "identifiesControllerService" : false,
              "name" : "Path Filter",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GetFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "a499f81b-5fe3-3d88-8692-4e31a3cb73c1",
          "name" : "Invoke PATCH /jobs with InProgress status",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1768.0,
            "y" : 528.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://localhost:8081/jobs/${jobId}",
            "Content-Type" : "${mime.type}",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PATCH",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set Flowfile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Flowfile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "f65ee64f-f0f9-3014-9f7e-2ab2926cf95c",
          "name" : "Generate Files with random content",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 840.0,
            "y" : 136.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "10B",
            "generate-ff-custom-text" : "${now():format('dd')}-${now():format('MM')}-${now():format('yyyy')} ${now():format('HH')}:${now():format('mm')}:${now():format('ss')},${now():toNumber()},${now():format('ss')},${random():mod(99)}",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "10 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "2cdf9edb-aa29-3242-84de-db1c08ff3632",
          "name" : "Store Files in S3 completed bucket",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1976.0,
            "y" : 936.0
          },
          "properties" : {
            "FullControl User List" : "${s3.permissions.full.users}",
            "Owner" : "${s3.owner}",
            "s3-object-remove-tags-prefix" : "false",
            "Endpoint Override URL" : "http://10.45.129.235:9000",
            "Multipart Upload Max Age Threshold" : "7 days",
            "canned-acl" : "${s3.permissions.cannedacl}",
            "Signer Override" : "Default Signature",
            "Write ACL User List" : "${s3.permissions.writeacl.users}",
            "server-side-encryption" : "None",
            "Read ACL User List" : "${s3.permissions.readacl.users}",
            "Storage Class" : "Standard",
            "Multipart Part Size" : "5 GB",
            "use-chunked-encoding" : "true",
            "Object Key" : "${filename}",
            "Multipart Threshold" : "5 GB",
            "Bucket" : "3dtiles/completed",
            "Multipart Upload AgeOff Interval" : "60 min",
            "use-path-style-access" : "false",
            "Write Permission User List" : "${s3.permissions.write.users}",
            "Communications Timeout" : "30 secs",
            "Region" : "us-west-2",
            "Read Permission User List" : "${s3.permissions.read.users}"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "FullControl User List" : {
              "displayName" : "FullControl User List",
              "identifiesControllerService" : false,
              "name" : "FullControl User List",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Cache Control" : {
              "displayName" : "Cache Control",
              "identifiesControllerService" : false,
              "name" : "Cache Control",
              "sensitive" : false
            },
            "s3-object-remove-tags-prefix" : {
              "displayName" : "Remove Tag Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-remove-tags-prefix",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "Multipart Upload Max Age Threshold" : {
              "displayName" : "Multipart Upload Max Age Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload Max Age Threshold",
              "sensitive" : false
            },
            "canned-acl" : {
              "displayName" : "Canned ACL",
              "identifiesControllerService" : false,
              "name" : "canned-acl",
              "sensitive" : false
            },
            "Signer Override" : {
              "displayName" : "Signer Override",
              "identifiesControllerService" : false,
              "name" : "Signer Override",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Content Type" : {
              "displayName" : "Content Type",
              "identifiesControllerService" : false,
              "name" : "Content Type",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Write ACL User List" : {
              "displayName" : "Write ACL User List",
              "identifiesControllerService" : false,
              "name" : "Write ACL User List",
              "sensitive" : false
            },
            "server-side-encryption" : {
              "displayName" : "Server Side Encryption",
              "identifiesControllerService" : false,
              "name" : "server-side-encryption",
              "sensitive" : false
            },
            "Read ACL User List" : {
              "displayName" : "Read ACL User List",
              "identifiesControllerService" : false,
              "name" : "Read ACL User List",
              "sensitive" : false
            },
            "encryption-service" : {
              "displayName" : "Encryption Service",
              "identifiesControllerService" : true,
              "name" : "encryption-service",
              "sensitive" : false
            },
            "Content Disposition" : {
              "displayName" : "Content Disposition",
              "identifiesControllerService" : false,
              "name" : "Content Disposition",
              "sensitive" : false
            },
            "Storage Class" : {
              "displayName" : "Storage Class",
              "identifiesControllerService" : false,
              "name" : "Storage Class",
              "sensitive" : false
            },
            "Multipart Part Size" : {
              "displayName" : "Multipart Part Size",
              "identifiesControllerService" : false,
              "name" : "Multipart Part Size",
              "sensitive" : false
            },
            "use-chunked-encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "use-chunked-encoding",
              "sensitive" : false
            },
            "Object Key" : {
              "displayName" : "Object Key",
              "identifiesControllerService" : false,
              "name" : "Object Key",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "Multipart Threshold" : {
              "displayName" : "Multipart Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Threshold",
              "sensitive" : false
            },
            "s3-object-tags-prefix" : {
              "displayName" : "Object Tags Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-tags-prefix",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Bucket" : {
              "displayName" : "Bucket",
              "identifiesControllerService" : false,
              "name" : "Bucket",
              "sensitive" : false
            },
            "Multipart Upload AgeOff Interval" : {
              "displayName" : "Multipart Upload AgeOff Interval",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload AgeOff Interval",
              "sensitive" : false
            },
            "use-path-style-access" : {
              "displayName" : "Use Path Style Access",
              "identifiesControllerService" : false,
              "name" : "use-path-style-access",
              "sensitive" : false
            },
            "Write Permission User List" : {
              "displayName" : "Write Permission User List",
              "identifiesControllerService" : false,
              "name" : "Write Permission User List",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Read Permission User List" : {
              "displayName" : "Read Permission User List",
              "identifiesControllerService" : false,
              "name" : "Read Permission User List",
              "sensitive" : false
            },
            "Expiration Time Rule" : {
              "displayName" : "Expiration Time Rule",
              "identifiesControllerService" : false,
              "name" : "Expiration Time Rule",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "d33d4035-4899-350a-9f05-21723d97aefc",
          "name" : "Store Files in S3 failed bucket",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1592.0,
            "y" : 936.0
          },
          "properties" : {
            "FullControl User List" : "${s3.permissions.full.users}",
            "Owner" : "${s3.owner}",
            "s3-object-remove-tags-prefix" : "false",
            "Endpoint Override URL" : "http://10.45.129.235:9000",
            "Multipart Upload Max Age Threshold" : "7 days",
            "canned-acl" : "${s3.permissions.cannedacl}",
            "Signer Override" : "Default Signature",
            "Write ACL User List" : "${s3.permissions.writeacl.users}",
            "server-side-encryption" : "None",
            "Read ACL User List" : "${s3.permissions.readacl.users}",
            "Storage Class" : "Standard",
            "Multipart Part Size" : "5 GB",
            "use-chunked-encoding" : "true",
            "Object Key" : "${filename}",
            "Multipart Threshold" : "5 GB",
            "Bucket" : "3dtiles/failed",
            "Multipart Upload AgeOff Interval" : "60 min",
            "use-path-style-access" : "false",
            "Write Permission User List" : "${s3.permissions.write.users}",
            "Communications Timeout" : "30 secs",
            "Region" : "us-west-2",
            "Read Permission User List" : "${s3.permissions.read.users}"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "FullControl User List" : {
              "displayName" : "FullControl User List",
              "identifiesControllerService" : false,
              "name" : "FullControl User List",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Cache Control" : {
              "displayName" : "Cache Control",
              "identifiesControllerService" : false,
              "name" : "Cache Control",
              "sensitive" : false
            },
            "s3-object-remove-tags-prefix" : {
              "displayName" : "Remove Tag Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-remove-tags-prefix",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "Multipart Upload Max Age Threshold" : {
              "displayName" : "Multipart Upload Max Age Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload Max Age Threshold",
              "sensitive" : false
            },
            "canned-acl" : {
              "displayName" : "Canned ACL",
              "identifiesControllerService" : false,
              "name" : "canned-acl",
              "sensitive" : false
            },
            "Signer Override" : {
              "displayName" : "Signer Override",
              "identifiesControllerService" : false,
              "name" : "Signer Override",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Content Type" : {
              "displayName" : "Content Type",
              "identifiesControllerService" : false,
              "name" : "Content Type",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Write ACL User List" : {
              "displayName" : "Write ACL User List",
              "identifiesControllerService" : false,
              "name" : "Write ACL User List",
              "sensitive" : false
            },
            "server-side-encryption" : {
              "displayName" : "Server Side Encryption",
              "identifiesControllerService" : false,
              "name" : "server-side-encryption",
              "sensitive" : false
            },
            "Read ACL User List" : {
              "displayName" : "Read ACL User List",
              "identifiesControllerService" : false,
              "name" : "Read ACL User List",
              "sensitive" : false
            },
            "encryption-service" : {
              "displayName" : "Encryption Service",
              "identifiesControllerService" : true,
              "name" : "encryption-service",
              "sensitive" : false
            },
            "Content Disposition" : {
              "displayName" : "Content Disposition",
              "identifiesControllerService" : false,
              "name" : "Content Disposition",
              "sensitive" : false
            },
            "Storage Class" : {
              "displayName" : "Storage Class",
              "identifiesControllerService" : false,
              "name" : "Storage Class",
              "sensitive" : false
            },
            "Multipart Part Size" : {
              "displayName" : "Multipart Part Size",
              "identifiesControllerService" : false,
              "name" : "Multipart Part Size",
              "sensitive" : false
            },
            "use-chunked-encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "use-chunked-encoding",
              "sensitive" : false
            },
            "Object Key" : {
              "displayName" : "Object Key",
              "identifiesControllerService" : false,
              "name" : "Object Key",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "Multipart Threshold" : {
              "displayName" : "Multipart Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Threshold",
              "sensitive" : false
            },
            "s3-object-tags-prefix" : {
              "displayName" : "Object Tags Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-tags-prefix",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Bucket" : {
              "displayName" : "Bucket",
              "identifiesControllerService" : false,
              "name" : "Bucket",
              "sensitive" : false
            },
            "Multipart Upload AgeOff Interval" : {
              "displayName" : "Multipart Upload AgeOff Interval",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload AgeOff Interval",
              "sensitive" : false
            },
            "use-path-style-access" : {
              "displayName" : "Use Path Style Access",
              "identifiesControllerService" : false,
              "name" : "use-path-style-access",
              "sensitive" : false
            },
            "Write Permission User List" : {
              "displayName" : "Write Permission User List",
              "identifiesControllerService" : false,
              "name" : "Write Permission User List",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Read Permission User List" : {
              "displayName" : "Read Permission User List",
              "identifiesControllerService" : false,
              "name" : "Read Permission User List",
              "sensitive" : false
            },
            "Expiration Time Rule" : {
              "displayName" : "Expiration Time Rule",
              "identifiesControllerService" : false,
              "name" : "Expiration Time Rule",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "11f57e65-13b3-3de7-8379-50e20b095ac8",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 440.0,
            "y" : 568.0
          },
          "properties" : {
            "log-message" : "Found an invalid file: ${filename}",
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "2c13b67a-ca61-39e7-8175-dd059c37a227",
          "name" : "Invoke PATCH /jobs with Completed status",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1976.0,
            "y" : 1224.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://localhost:8081/jobs/${jobId}",
            "Content-Type" : "${mime.type}",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PATCH",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set Flowfile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Flowfile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-aws-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "e936b3e2-ba13-3d1a-b9c8-0677f00792b7",
          "name" : "Store Files with a number above 50",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 480.0,
            "y" : 864.0
          },
          "properties" : {
            "FullControl User List" : "${s3.permissions.full.users}",
            "Owner" : "${s3.owner}",
            "s3-object-remove-tags-prefix" : "false",
            "Endpoint Override URL" : "http://10.45.129.235:9000",
            "Multipart Upload Max Age Threshold" : "7 days",
            "canned-acl" : "${s3.permissions.cannedacl}",
            "Signer Override" : "Default Signature",
            "Write ACL User List" : "${s3.permissions.writeacl.users}",
            "server-side-encryption" : "None",
            "Read ACL User List" : "${s3.permissions.readacl.users}",
            "Storage Class" : "Standard",
            "Multipart Part Size" : "5 GB",
            "use-chunked-encoding" : "true",
            "Object Key" : "${filename}",
            "Multipart Threshold" : "5 GB",
            "Bucket" : "3dtiles/above50",
            "Multipart Upload AgeOff Interval" : "60 min",
            "use-path-style-access" : "false",
            "Write Permission User List" : "${s3.permissions.write.users}",
            "Communications Timeout" : "30 secs",
            "Region" : "eu-west-1",
            "Read Permission User List" : "${s3.permissions.read.users}"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "FullControl User List" : {
              "displayName" : "FullControl User List",
              "identifiesControllerService" : false,
              "name" : "FullControl User List",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Access Key" : {
              "displayName" : "Access Key ID",
              "identifiesControllerService" : false,
              "name" : "Access Key",
              "sensitive" : true
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Cache Control" : {
              "displayName" : "Cache Control",
              "identifiesControllerService" : false,
              "name" : "Cache Control",
              "sensitive" : false
            },
            "s3-object-remove-tags-prefix" : {
              "displayName" : "Remove Tag Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-remove-tags-prefix",
              "sensitive" : false
            },
            "Endpoint Override URL" : {
              "displayName" : "Endpoint Override URL",
              "identifiesControllerService" : false,
              "name" : "Endpoint Override URL",
              "sensitive" : false
            },
            "Multipart Upload Max Age Threshold" : {
              "displayName" : "Multipart Upload Max Age Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload Max Age Threshold",
              "sensitive" : false
            },
            "canned-acl" : {
              "displayName" : "Canned ACL",
              "identifiesControllerService" : false,
              "name" : "canned-acl",
              "sensitive" : false
            },
            "Signer Override" : {
              "displayName" : "Signer Override",
              "identifiesControllerService" : false,
              "name" : "Signer Override",
              "sensitive" : false
            },
            "proxy-user-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "proxy-user-password",
              "sensitive" : true
            },
            "Content Type" : {
              "displayName" : "Content Type",
              "identifiesControllerService" : false,
              "name" : "Content Type",
              "sensitive" : false
            },
            "Secret Key" : {
              "displayName" : "Secret Access Key",
              "identifiesControllerService" : false,
              "name" : "Secret Key",
              "sensitive" : true
            },
            "Write ACL User List" : {
              "displayName" : "Write ACL User List",
              "identifiesControllerService" : false,
              "name" : "Write ACL User List",
              "sensitive" : false
            },
            "server-side-encryption" : {
              "displayName" : "Server Side Encryption",
              "identifiesControllerService" : false,
              "name" : "server-side-encryption",
              "sensitive" : false
            },
            "Read ACL User List" : {
              "displayName" : "Read ACL User List",
              "identifiesControllerService" : false,
              "name" : "Read ACL User List",
              "sensitive" : false
            },
            "encryption-service" : {
              "displayName" : "Encryption Service",
              "identifiesControllerService" : true,
              "name" : "encryption-service",
              "sensitive" : false
            },
            "Content Disposition" : {
              "displayName" : "Content Disposition",
              "identifiesControllerService" : false,
              "name" : "Content Disposition",
              "sensitive" : false
            },
            "Storage Class" : {
              "displayName" : "Storage Class",
              "identifiesControllerService" : false,
              "name" : "Storage Class",
              "sensitive" : false
            },
            "Multipart Part Size" : {
              "displayName" : "Multipart Part Size",
              "identifiesControllerService" : false,
              "name" : "Multipart Part Size",
              "sensitive" : false
            },
            "use-chunked-encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "use-chunked-encoding",
              "sensitive" : false
            },
            "Object Key" : {
              "displayName" : "Object Key",
              "identifiesControllerService" : false,
              "name" : "Object Key",
              "sensitive" : false
            },
            "AWS Credentials Provider service" : {
              "displayName" : "AWS Credentials Provider service",
              "identifiesControllerService" : true,
              "name" : "AWS Credentials Provider service",
              "sensitive" : false
            },
            "Multipart Threshold" : {
              "displayName" : "Multipart Threshold",
              "identifiesControllerService" : false,
              "name" : "Multipart Threshold",
              "sensitive" : false
            },
            "s3-object-tags-prefix" : {
              "displayName" : "Object Tags Prefix",
              "identifiesControllerService" : false,
              "name" : "s3-object-tags-prefix",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Bucket" : {
              "displayName" : "Bucket",
              "identifiesControllerService" : false,
              "name" : "Bucket",
              "sensitive" : false
            },
            "Multipart Upload AgeOff Interval" : {
              "displayName" : "Multipart Upload AgeOff Interval",
              "identifiesControllerService" : false,
              "name" : "Multipart Upload AgeOff Interval",
              "sensitive" : false
            },
            "use-path-style-access" : {
              "displayName" : "Use Path Style Access",
              "identifiesControllerService" : false,
              "name" : "use-path-style-access",
              "sensitive" : false
            },
            "Write Permission User List" : {
              "displayName" : "Write Permission User List",
              "identifiesControllerService" : false,
              "name" : "Write Permission User List",
              "sensitive" : false
            },
            "Communications Timeout" : {
              "displayName" : "Communications Timeout",
              "identifiesControllerService" : false,
              "name" : "Communications Timeout",
              "sensitive" : false
            },
            "Credentials File" : {
              "displayName" : "Credentials File",
              "identifiesControllerService" : false,
              "name" : "Credentials File",
              "sensitive" : false
            },
            "Region" : {
              "displayName" : "Region",
              "identifiesControllerService" : false,
              "name" : "Region",
              "sensitive" : false
            },
            "Read Permission User List" : {
              "displayName" : "Read Permission User List",
              "identifiesControllerService" : false,
              "name" : "Read Permission User List",
              "sensitive" : false
            },
            "Expiration Time Rule" : {
              "displayName" : "Expiration Time Rule",
              "identifiesControllerService" : false,
              "name" : "Expiration Time Rule",
              "sensitive" : false
            },
            "proxy-user-name" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "proxy-user-name",
              "sensitive" : false
            },
            "Proxy Host Port" : {
              "displayName" : "Proxy Host Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Host Port",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "3934c40f-0623-3f59-84cc-c8db1e791aec",
          "name" : "Invoke POST /catalogue",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1976.0,
            "y" : 1080.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://localhost:8084/catalogue",
            "Content-Type" : "${mime.type}",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "POST",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set Flowfile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Flowfile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "0af2a896-8ac9-3652-8647-4350d478c0a9",
          "name" : "Listen on POST requests",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1768.0,
            "y" : 120.0
          },
          "properties" : {
            "Base Path" : "flows",
            "multipart-read-buffer-size" : "512 KB",
            "multipart-request-max-size" : "1 MB",
            "Max Unconfirmed Flowfile Time" : "60 secs",
            "Return Code" : "201",
            "Listening Port" : "8083",
            "Authorized DN Pattern" : ".*"
          },
          "propertyDescriptors" : {
            "Base Path" : {
              "displayName" : "Base Path",
              "identifiesControllerService" : false,
              "name" : "Base Path",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "Max Unconfirmed Flowfile Time" : {
              "displayName" : "Max Unconfirmed Flowfile Time",
              "identifiesControllerService" : false,
              "name" : "Max Unconfirmed Flowfile Time",
              "sensitive" : false
            },
            "Max Data to Receive per Second" : {
              "displayName" : "Max Data to Receive per Second",
              "identifiesControllerService" : false,
              "name" : "Max Data to Receive per Second",
              "sensitive" : false
            },
            "Return Code" : {
              "displayName" : "Return Code",
              "identifiesControllerService" : false,
              "name" : "Return Code",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "HTTP Headers to receive as Attributes (Regex)" : {
              "displayName" : "HTTP Headers to receive as Attributes (Regex)",
              "identifiesControllerService" : false,
              "name" : "HTTP Headers to receive as Attributes (Regex)",
              "sensitive" : false
            },
            "Authorized DN Pattern" : {
              "displayName" : "Authorized DN Pattern",
              "identifiesControllerService" : false,
              "name" : "Authorized DN Pattern",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ListenHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "376222d5-f108-3081-b565-967278226164",
          "name" : "Invoke PATCH /jobs with Failed status",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1592.0,
            "y" : 1080.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://localhost:8081/jobs/${jobId}",
            "Content-Type" : "${mime.type}",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "PATCH",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Attributes to Send",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Use HTTP ETag",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Basic Authentication Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "Connection Timeout" : {
              "displayName" : "Connection Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Send Message Body",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Set Flowfile Form Data File Name",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Always Output Response",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Maximum ETag Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Put Response Body In Attribute",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Use Chunked Encoding",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Follow Redirects",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "Remote URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Flowfile Form Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Max Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Max Length To Put In Attribute",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Ignore response's content",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Use Digest Authentication",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Add Response Headers to Request",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Basic Authentication Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Include Date Header",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Penalize on \"No Retry\"",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Useragent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "f419a9a7-f7ee-3c75-9d70-e551d5bd539f",
          "identifier" : "94461705-e085-3010-8bbb-4379c9fa6433",
          "name" : "Update Filename",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 840.0,
            "y" : 408.0
          },
          "properties" : {
            "filename" : "${UUID()}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { }
    }
  }
}