Bucket/3D_Ingestion_Data_Flow.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "id" : "22b13e28-9c71-33c6-94b3-40faca086823",
            "name" : "input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "91a7144b-29b2-3b8b-bc7a-9c60aa4b99a1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "0d731f35-e42d-37f0-af97-e42d8050f1e1",
            "name" : "Handle Http POST Request",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
            "name" : "Handle Http POST Response",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "31bc3b3e-4147-3cb2-bfb1-adf0b20661df",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "comments" : "",
            "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "id" : "f5b86fb4-ccae-3da3-9dcf-92d3765032b2",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 496.0,
            "y" : 576.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "780e5c77-feed-3110-8d05-f7ef13299d98",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "c4842195-acf6-38ff-ad61-fb6aee92a7bd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
            "name" : "Handle Http POST Response",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 736.0,
            "y" : 576.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "780e5c77-feed-3110-8d05-f7ef13299d98",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "73290e19-aecb-3346-aaf0-b19654e7548a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
            "name" : "Handle Http POST Response",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "bf9f17e3-94a9-3d70-b96c-ead039effd77",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        } ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "3D Ingestion Data Flow",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "comments" : "",
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "780e5c77-feed-3110-8d05-f7ef13299d98",
          "name" : "output",
          "position" : {
            "x" : 512.0,
            "y" : 616.0
          },
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "3dFlowParams",
        "position" : {
          "x" : 912.0,
          "y" : 424.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "id" : "79e642e4-fa75-35ac-9b11-bcb98fb8e3b6",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "da58b274-2267-3bb7-8bd1-74b28055438f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f6c213ed-c695-3bd1-8925-8d0c03916539",
              "name" : "Set Status -> Completed",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -408.0,
              "y" : 664.0
            }, {
              "x" : -408.0,
              "y" : 136.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "id" : "3656260b-0281-3791-bdb1-507c0c0c09aa",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "47db72a7-1f99-3097-8c1a-a5f96c699afb",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f6c213ed-c695-3bd1-8925-8d0c03916539",
              "name" : "Set Status -> Completed",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1760.0,
              "y" : 32.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "2c192b92-bf79-3121-84f7-735be8909aaa",
              "name" : "Invoke GET /validations",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "51f8b75e-96d2-3b49-b812-5837d064a86f",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "e341dad6-e9e1-3421-bee1-841ad5ec6cc7",
              "name" : "Set Status -> In-Progress",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1448.0,
              "y" : 344.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f6c213ed-c695-3bd1-8925-8d0c03916539",
              "name" : "Set Status -> Completed",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "8ada2ee2-e045-3649-92d0-fd0d150be49f",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "valid" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
              "name" : "Route based on values",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2088.0,
              "y" : -40.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "id" : "35cb244e-08b4-3c06-8c65-85d5204fe553",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "97265a09-f3ff-3598-8b46-069e9289aafe",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "e341dad6-e9e1-3421-bee1-841ad5ec6cc7",
              "name" : "Set Status -> In-Progress",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "6c6f3105-8452-3860-aedc-254146b28a0d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "20e5c561-f633-32f8-8d52-bced576c56ea",
              "name" : "Jolt Transform Json",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1096.0,
              "y" : 232.0
            }, {
              "x" : -1096.0,
              "y" : 312.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "49118c8e-3783-3a3b-9db9-ce8b0faf08ff",
              "name" : "Set Status -> Failed",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "e08877f5-ecfe-329d-971b-fc94676736b5",
            "labelIndex" : 2,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "invalid" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
              "name" : "Route based on values",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2488.0,
              "y" : 664.0
            }, {
              "x" : -2488.0,
              "y" : 200.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "id" : "35cb244e-08b4-3c06-8c65-85d5204fe553",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "d5f6a91d-1206-31a8-9963-67bf225d0fed",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f6c213ed-c695-3bd1-8925-8d0c03916539",
              "name" : "Set Status -> Completed",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2088.0,
              "y" : 448.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "id" : "35cb244e-08b4-3c06-8c65-85d5204fe553",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "071f1a89-64af-3ead-8059-0dc8323a30c8",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "49118c8e-3783-3a3b-9db9-ce8b0faf08ff",
              "name" : "Set Status -> Failed",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -704.0,
              "y" : 448.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "id" : "3656260b-0281-3791-bdb1-507c0c0c09aa",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "912d8dd5-1351-365c-bc04-74addd8a7220",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "49118c8e-3783-3a3b-9db9-ce8b0faf08ff",
              "name" : "Set Status -> Failed",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -704.0,
              "y" : -40.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "id" : "3656260b-0281-3791-bdb1-507c0c0c09aa",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "a4191813-12c4-3298-bfbb-3afd9a278b4d",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "e341dad6-e9e1-3421-bee1-841ad5ec6cc7",
              "name" : "Set Status -> In-Progress",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2648.0,
              "y" : -128.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f5b86fb4-ccae-3da3-9dcf-92d3765032b2",
              "name" : "output",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "028455fb-6bc1-3e48-ba52-5bf0c7c97e53",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "20e5c561-f633-32f8-8d52-bced576c56ea",
              "name" : "Jolt Transform Json",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2646.655059814453,
              "y" : -238.88983154296875
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "20e5c561-f633-32f8-8d52-bced576c56ea",
              "name" : "Jolt Transform Json",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "a9880b0a-8c38-35dd-b85a-9fb6446d9d90",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "22b13e28-9c71-33c6-94b3-40faca086823",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1088.0,
              "y" : -176.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "id" : "ad3c30a7-39a0-3faa-99b2-883aab4bea3f",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "4c47f036-a36b-3bbc-bf06-ccc76033c22f",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1760.0,
              "y" : 168.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
              "name" : "Route based on values",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "23f897ce-3a8b-32f2-b4fb-8e4cfe56a9ec",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response", "Original" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "2c192b92-bf79-3121-84f7-735be8909aaa",
              "name" : "Invoke GET /validations",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1760.0,
              "y" : -104.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "e341dad6-e9e1-3421-bee1-841ad5ec6cc7",
              "name" : "Set Status -> In-Progress",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "5a4e7bb7-f4a0-3416-b6d4-44e10ea195e7",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "22b13e28-9c71-33c6-94b3-40faca086823",
            "name" : "input",
            "position" : {
              "x" : -2456.0,
              "y" : -320.0
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Data Flow",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "comments" : "",
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "f5b86fb4-ccae-3da3-9dcf-92d3765032b2",
            "name" : "output",
            "position" : {
              "x" : -2456.0,
              "y" : -80.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "3dFlowParams",
          "position" : {
            "x" : 432.0,
            "y" : 192.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 824.0,
                "y" : 320.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "d406e79f-01e0-3355-86ee-92214afd9487",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "f59011a4-ab83-3c24-869e-eee9506c0a00",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response" ],
              "source" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "3a14aa1d-3a10-3a3d-a50b-41df033c1dd1",
                "name" : "Invoke PATCH /jobs with current status",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 384.0,
                "y" : 160.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "3a14aa1d-3a10-3a3d-a50b-41df033c1dd1",
                "name" : "Invoke PATCH /jobs with current status",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "3a4f1142-06a2-33c7-977c-35e5b50f46fe",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "00dc44f9-f4ca-3c46-a78c-c46acc17b527",
                "name" : "Set Job Status Payload",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 552.0,
                "y" : 320.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "d406e79f-01e0-3355-86ee-92214afd9487",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "a0c03e41-9a22-3136-873b-c091d30173ee",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Original" ],
              "source" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "3a14aa1d-3a10-3a3d-a50b-41df033c1dd1",
                "name" : "Invoke PATCH /jobs with current status",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "00dc44f9-f4ca-3c46-a78c-c46acc17b527",
                "name" : "Set Job Status Payload",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "99649a30-1956-379b-b4b7-7d88345f17bd",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
                "id" : "35cb244e-08b4-3c06-8c65-85d5204fe553",
                "name" : "input",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "35cb244e-08b4-3c06-8c65-85d5204fe553",
              "name" : "input",
              "position" : {
                "x" : 568.0,
                "y" : -80.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Update Job Status",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "d406e79f-01e0-3355-86ee-92214afd9487",
              "name" : "output",
              "position" : {
                "x" : 568.0,
                "y" : 352.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "3dFlowParams",
            "position" : {
              "x" : -2280.0,
              "y" : 112.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "3a14aa1d-3a10-3a3d-a50b-41df033c1dd1",
              "name" : "Invoke PATCH /jobs with current status",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 512.0,
                "y" : 160.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "#{jobsUrl}/${jobId}",
                "Content-Type" : "application/json",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "PATCH",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set Flowfile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Flowfile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "c296f6e2-fc4f-3c6f-aa80-5e65aaccb644",
              "identifier" : "00dc44f9-f4ca-3c46-a78c-c46acc17b527",
              "name" : "Set Job Status Payload",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 512.0,
                "y" : 24.0
              },
              "properties" : {
                "Destination" : "flowfile-content",
                "Null Value" : "false",
                "Attributes List" : "status",
                "Include Core Attributes" : "true"
              },
              "propertyDescriptors" : {
                "attributes-to-json-regex" : {
                  "displayName" : "Attributes Regular Expression",
                  "identifiesControllerService" : false,
                  "name" : "attributes-to-json-regex",
                  "sensitive" : false
                },
                "Destination" : {
                  "displayName" : "Destination",
                  "identifiesControllerService" : false,
                  "name" : "Destination",
                  "sensitive" : false
                },
                "Null Value" : {
                  "displayName" : "Null Value",
                  "identifiesControllerService" : false,
                  "name" : "Null Value",
                  "sensitive" : false
                },
                "Attributes List" : {
                  "displayName" : "Attributes List",
                  "identifiesControllerService" : false,
                  "name" : "Attributes List",
                  "sensitive" : false
                },
                "Include Core Attributes" : {
                  "displayName" : "Include Core Attributes",
                  "identifiesControllerService" : false,
                  "name" : "Include Core Attributes",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "2331cbeb-527b-3fde-b861-056a19af37dd",
                "id" : "781b02c9-ea71-33a6-8a4c-00dfff5433b7",
                "name" : "Fetch Metadata File",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "identifier" : "35c1bbe6-45f4-3baa-8d09-27cd384005da",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "2331cbeb-527b-3fde-b861-056a19af37dd",
                "id" : "79e642e4-fa75-35ac-9b11-bcb98fb8e3b6",
                "name" : "input",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 376.0,
                "y" : 256.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "2331cbeb-527b-3fde-b861-056a19af37dd",
                "id" : "1b150444-be58-3ffc-8e79-101c87462e25",
                "name" : "Invoke POST /catalog",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "identifier" : "a8570268-8c73-35fe-a3cb-6fb12a13d902",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "2331cbeb-527b-3fde-b861-056a19af37dd",
                "id" : "781b02c9-ea71-33a6-8a4c-00dfff5433b7",
                "name" : "Fetch Metadata File",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "2331cbeb-527b-3fde-b861-056a19af37dd",
                "id" : "a4abbd0c-d959-34ed-8bde-4ab063894083",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "identifier" : "f3c6e0c7-327e-3320-abe2-59053e0e8f1b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "Response", "Original" ],
              "source" : {
                "comments" : "",
                "groupId" : "2331cbeb-527b-3fde-b861-056a19af37dd",
                "id" : "1b150444-be58-3ffc-8e79-101c87462e25",
                "name" : "Invoke POST /catalog",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "identifier" : "79e642e4-fa75-35ac-9b11-bcb98fb8e3b6",
              "name" : "input",
              "position" : {
                "x" : 560.0,
                "y" : 24.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Store Metadata in the Catalog DB",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "identifier" : "a4abbd0c-d959-34ed-8bde-4ab063894083",
              "name" : "output",
              "position" : {
                "x" : 560.0,
                "y" : 456.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "3dFlowParams",
            "position" : {
              "x" : -1640.0,
              "y" : 816.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "identifier" : "781b02c9-ea71-33a6-8a4c-00dfff5433b7",
              "name" : "Fetch Metadata File",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 504.0,
                "y" : 120.0
              },
              "properties" : {
                "Move Conflict Strategy" : "Rename",
                "Log level when file not found" : "ERROR",
                "Log level when permission denied" : "ERROR",
                "File to Fetch" : "${path}/metadata.json",
                "Completion Strategy" : "None"
              },
              "propertyDescriptors" : {
                "Move Conflict Strategy" : {
                  "displayName" : "Move Conflict Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Move Conflict Strategy",
                  "sensitive" : false
                },
                "Log level when file not found" : {
                  "displayName" : "Log level when file not found",
                  "identifiesControllerService" : false,
                  "name" : "Log level when file not found",
                  "sensitive" : false
                },
                "Move Destination Directory" : {
                  "displayName" : "Move Destination Directory",
                  "identifiesControllerService" : false,
                  "name" : "Move Destination Directory",
                  "sensitive" : false
                },
                "Log level when permission denied" : {
                  "displayName" : "Log level when permission denied",
                  "identifiesControllerService" : false,
                  "name" : "Log level when permission denied",
                  "sensitive" : false
                },
                "File to Fetch" : {
                  "displayName" : "File to Fetch",
                  "identifiesControllerService" : false,
                  "name" : "File to Fetch",
                  "sensitive" : false
                },
                "Completion Strategy" : {
                  "displayName" : "Completion Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Completion Strategy",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.FetchFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "No Retry", "Retry", "Failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "2331cbeb-527b-3fde-b861-056a19af37dd",
              "identifier" : "1b150444-be58-3ffc-8e79-101c87462e25",
              "name" : "Invoke POST /catalog",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 504.0,
                "y" : 256.0
              },
              "properties" : {
                "use-etag" : "false",
                "Proxy Type" : "http",
                "Connection Timeout" : "5 secs",
                "send-message-body" : "true",
                "set-form-filename" : "true",
                "Always Output Response" : "false",
                "etag-max-cache-size" : "10MB",
                "idle-timeout" : "5 mins",
                "Use Chunked Encoding" : "false",
                "Follow Redirects" : "True",
                "Remote URL" : "#{catalogUrl}",
                "Content-Type" : "application/json",
                "max-idle-connections" : "5",
                "Read Timeout" : "15 secs",
                "Max Length To Put In Attribute" : "256",
                "ignore-response-content" : "false",
                "Digest Authentication" : "false",
                "HTTP Method" : "POST",
                "Add Response Headers to Request" : "false",
                "Include Date Header" : "True",
                "Penalize on \"No Retry\"" : "false"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "Attributes to Send" : {
                  "displayName" : "Attributes to Send",
                  "identifiesControllerService" : false,
                  "name" : "Attributes to Send",
                  "sensitive" : false
                },
                "use-etag" : {
                  "displayName" : "Use HTTP ETag",
                  "identifiesControllerService" : false,
                  "name" : "use-etag",
                  "sensitive" : false
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Proxy Type" : {
                  "displayName" : "Proxy Type",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Type",
                  "sensitive" : false
                },
                "Basic Authentication Password" : {
                  "displayName" : "Basic Authentication Password",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Password",
                  "sensitive" : true
                },
                "Connection Timeout" : {
                  "displayName" : "Connection Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Connection Timeout",
                  "sensitive" : false
                },
                "send-message-body" : {
                  "displayName" : "Send Message Body",
                  "identifiesControllerService" : false,
                  "name" : "send-message-body",
                  "sensitive" : false
                },
                "set-form-filename" : {
                  "displayName" : "Set Flowfile Form Data File Name",
                  "identifiesControllerService" : false,
                  "name" : "set-form-filename",
                  "sensitive" : false
                },
                "Always Output Response" : {
                  "displayName" : "Always Output Response",
                  "identifiesControllerService" : false,
                  "name" : "Always Output Response",
                  "sensitive" : false
                },
                "etag-max-cache-size" : {
                  "displayName" : "Maximum ETag Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "etag-max-cache-size",
                  "sensitive" : false
                },
                "idle-timeout" : {
                  "displayName" : "Idle Timeout",
                  "identifiesControllerService" : false,
                  "name" : "idle-timeout",
                  "sensitive" : false
                },
                "Put Response Body In Attribute" : {
                  "displayName" : "Put Response Body In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Put Response Body In Attribute",
                  "sensitive" : false
                },
                "Use Chunked Encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "Use Chunked Encoding",
                  "sensitive" : false
                },
                "Follow Redirects" : {
                  "displayName" : "Follow Redirects",
                  "identifiesControllerService" : false,
                  "name" : "Follow Redirects",
                  "sensitive" : false
                },
                "Remote URL" : {
                  "displayName" : "Remote URL",
                  "identifiesControllerService" : false,
                  "name" : "Remote URL",
                  "sensitive" : false
                },
                "Content-Type" : {
                  "displayName" : "Content-Type",
                  "identifiesControllerService" : false,
                  "name" : "Content-Type",
                  "sensitive" : false
                },
                "form-body-form-name" : {
                  "displayName" : "Flowfile Form Data Name",
                  "identifiesControllerService" : false,
                  "name" : "form-body-form-name",
                  "sensitive" : false
                },
                "max-idle-connections" : {
                  "displayName" : "Max Idle Connections",
                  "identifiesControllerService" : false,
                  "name" : "max-idle-connections",
                  "sensitive" : false
                },
                "invokehttp-proxy-user" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-user",
                  "sensitive" : false
                },
                "Read Timeout" : {
                  "displayName" : "Read Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Read Timeout",
                  "sensitive" : false
                },
                "Max Length To Put In Attribute" : {
                  "displayName" : "Max Length To Put In Attribute",
                  "identifiesControllerService" : false,
                  "name" : "Max Length To Put In Attribute",
                  "sensitive" : false
                },
                "invokehttp-proxy-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "invokehttp-proxy-password",
                  "sensitive" : true
                },
                "ignore-response-content" : {
                  "displayName" : "Ignore response's content",
                  "identifiesControllerService" : false,
                  "name" : "ignore-response-content",
                  "sensitive" : false
                },
                "Proxy Port" : {
                  "displayName" : "Proxy Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Port",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Digest Authentication" : {
                  "displayName" : "Use Digest Authentication",
                  "identifiesControllerService" : false,
                  "name" : "Digest Authentication",
                  "sensitive" : false
                },
                "HTTP Method" : {
                  "displayName" : "HTTP Method",
                  "identifiesControllerService" : false,
                  "name" : "HTTP Method",
                  "sensitive" : false
                },
                "Add Response Headers to Request" : {
                  "displayName" : "Add Response Headers to Request",
                  "identifiesControllerService" : false,
                  "name" : "Add Response Headers to Request",
                  "sensitive" : false
                },
                "Basic Authentication Username" : {
                  "displayName" : "Basic Authentication Username",
                  "identifiesControllerService" : false,
                  "name" : "Basic Authentication Username",
                  "sensitive" : false
                },
                "Include Date Header" : {
                  "displayName" : "Include Date Header",
                  "identifiesControllerService" : false,
                  "name" : "Include Date Header",
                  "sensitive" : false
                },
                "Penalize on \"No Retry\"" : {
                  "displayName" : "Penalize on \"No Retry\"",
                  "identifiesControllerService" : false,
                  "name" : "Penalize on \"No Retry\"",
                  "sensitive" : false
                },
                "Useragent" : {
                  "displayName" : "Useragent",
                  "identifiesControllerService" : false,
                  "name" : "Useragent",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "d6807cad-6976-3156-af18-7f2a8587b2eb",
                "name" : "List Files",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "681d2e1f-1d39-3055-9a99-c085086100b2",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "3656260b-0281-3791-bdb1-507c0c0c09aa",
                "name" : "input",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 512.0,
                "y" : 560.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "d2189c4f-cafe-36d4-a8f9-149b682882db",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "63bbf853-c6ff-38dd-b8b4-6b9676fcace2",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "4b182221-e175-32dd-9834-8a2cfbcc5225",
                "name" : "Store Files in S3 bucket",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 314.99987244824024,
                "y" : 258.99994248506755
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "920157a2-cdb8-3004-9e4d-8c13de0d9eff",
                "name" : "Fetch Files",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "526f4f8a-5b6b-31cc-a929-b2d831c9e3bf",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "d6807cad-6976-3156-af18-7f2a8587b2eb",
                "name" : "List Files",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 328.0,
                "y" : 392.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "4b182221-e175-32dd-9834-8a2cfbcc5225",
                "name" : "Store Files in S3 bucket",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "569e4b4e-316f-3a00-97aa-2170bd9958cc",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "920157a2-cdb8-3004-9e4d-8c13de0d9eff",
                "name" : "Fetch Files",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 957.0,
                "y" : 439.00006103515625
              }, {
                "x" : 957.0,
                "y" : 479.00006103515625
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "4b182221-e175-32dd-9834-8a2cfbcc5225",
                "name" : "Store Files in S3 bucket",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "b3837e5d-5b48-3d66-959f-2a22f60e0e9d",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "4b182221-e175-32dd-9834-8a2cfbcc5225",
                "name" : "Store Files in S3 bucket",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 760.0,
                "y" : 560.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "d2189c4f-cafe-36d4-a8f9-149b682882db",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "4d050704-ebf7-3a4d-8189-54d4ca86e8a6",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
                "id" : "4b182221-e175-32dd-9834-8a2cfbcc5225",
                "name" : "Store Files in S3 bucket",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "3656260b-0281-3791-bdb1-507c0c0c09aa",
              "name" : "input",
              "position" : {
                "x" : 517.999811413084,
                "y" : 43.99997300264562
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Store Files in an Object Store",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "d2189c4f-cafe-36d4-a8f9-149b682882db",
              "name" : "output",
              "position" : {
                "x" : 520.0,
                "y" : 592.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "parameterContextName" : "3dFlowParams",
            "position" : {
              "x" : -896.0,
              "y" : 48.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-aws-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "4b182221-e175-32dd-9834-8a2cfbcc5225",
              "name" : "Store Files in S3 bucket",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 464.0,
                "y" : 400.0
              },
              "properties" : {
                "FullControl User List" : "${s3.permissions.full.users}",
                "Owner" : "${s3.owner}",
                "s3-object-remove-tags-prefix" : "false",
                "Endpoint Override URL" : "http://10.45.129.235:9000",
                "Multipart Upload Max Age Threshold" : "7 days",
                "canned-acl" : "${s3.permissions.cannedacl}",
                "Signer Override" : "Default Signature",
                "Write ACL User List" : "${s3.permissions.writeacl.users}",
                "server-side-encryption" : "None",
                "Read ACL User List" : "${s3.permissions.readacl.users}",
                "Storage Class" : "Standard",
                "Multipart Part Size" : "5 GB",
                "use-chunked-encoding" : "true",
                "Object Key" : "${filename}",
                "Multipart Threshold" : "5 GB",
                "Bucket" : "#{bucket}/${status}",
                "Multipart Upload AgeOff Interval" : "60 min",
                "use-path-style-access" : "false",
                "Write Permission User List" : "${s3.permissions.write.users}",
                "Communications Timeout" : "30 secs",
                "Region" : "us-west-2",
                "Read Permission User List" : "${s3.permissions.read.users}"
              },
              "propertyDescriptors" : {
                "Proxy Host" : {
                  "displayName" : "Proxy Host",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host",
                  "sensitive" : false
                },
                "FullControl User List" : {
                  "displayName" : "FullControl User List",
                  "identifiesControllerService" : false,
                  "name" : "FullControl User List",
                  "sensitive" : false
                },
                "Owner" : {
                  "displayName" : "Owner",
                  "identifiesControllerService" : false,
                  "name" : "Owner",
                  "sensitive" : false
                },
                "Access Key" : {
                  "displayName" : "Access Key ID",
                  "identifiesControllerService" : false,
                  "name" : "Access Key",
                  "sensitive" : true
                },
                "proxy-configuration-service" : {
                  "displayName" : "Proxy Configuration Service",
                  "identifiesControllerService" : true,
                  "name" : "proxy-configuration-service",
                  "sensitive" : false
                },
                "Cache Control" : {
                  "displayName" : "Cache Control",
                  "identifiesControllerService" : false,
                  "name" : "Cache Control",
                  "sensitive" : false
                },
                "s3-object-remove-tags-prefix" : {
                  "displayName" : "Remove Tag Prefix",
                  "identifiesControllerService" : false,
                  "name" : "s3-object-remove-tags-prefix",
                  "sensitive" : false
                },
                "Endpoint Override URL" : {
                  "displayName" : "Endpoint Override URL",
                  "identifiesControllerService" : false,
                  "name" : "Endpoint Override URL",
                  "sensitive" : false
                },
                "Multipart Upload Max Age Threshold" : {
                  "displayName" : "Multipart Upload Max Age Threshold",
                  "identifiesControllerService" : false,
                  "name" : "Multipart Upload Max Age Threshold",
                  "sensitive" : false
                },
                "canned-acl" : {
                  "displayName" : "Canned ACL",
                  "identifiesControllerService" : false,
                  "name" : "canned-acl",
                  "sensitive" : false
                },
                "Signer Override" : {
                  "displayName" : "Signer Override",
                  "identifiesControllerService" : false,
                  "name" : "Signer Override",
                  "sensitive" : false
                },
                "proxy-user-password" : {
                  "displayName" : "Proxy Password",
                  "identifiesControllerService" : false,
                  "name" : "proxy-user-password",
                  "sensitive" : true
                },
                "Content Type" : {
                  "displayName" : "Content Type",
                  "identifiesControllerService" : false,
                  "name" : "Content Type",
                  "sensitive" : false
                },
                "Secret Key" : {
                  "displayName" : "Secret Access Key",
                  "identifiesControllerService" : false,
                  "name" : "Secret Key",
                  "sensitive" : true
                },
                "Write ACL User List" : {
                  "displayName" : "Write ACL User List",
                  "identifiesControllerService" : false,
                  "name" : "Write ACL User List",
                  "sensitive" : false
                },
                "server-side-encryption" : {
                  "displayName" : "Server Side Encryption",
                  "identifiesControllerService" : false,
                  "name" : "server-side-encryption",
                  "sensitive" : false
                },
                "Read ACL User List" : {
                  "displayName" : "Read ACL User List",
                  "identifiesControllerService" : false,
                  "name" : "Read ACL User List",
                  "sensitive" : false
                },
                "encryption-service" : {
                  "displayName" : "Encryption Service",
                  "identifiesControllerService" : true,
                  "name" : "encryption-service",
                  "sensitive" : false
                },
                "Content Disposition" : {
                  "displayName" : "Content Disposition",
                  "identifiesControllerService" : false,
                  "name" : "Content Disposition",
                  "sensitive" : false
                },
                "Storage Class" : {
                  "displayName" : "Storage Class",
                  "identifiesControllerService" : false,
                  "name" : "Storage Class",
                  "sensitive" : false
                },
                "Multipart Part Size" : {
                  "displayName" : "Multipart Part Size",
                  "identifiesControllerService" : false,
                  "name" : "Multipart Part Size",
                  "sensitive" : false
                },
                "use-chunked-encoding" : {
                  "displayName" : "Use Chunked Encoding",
                  "identifiesControllerService" : false,
                  "name" : "use-chunked-encoding",
                  "sensitive" : false
                },
                "Object Key" : {
                  "displayName" : "Object Key",
                  "identifiesControllerService" : false,
                  "name" : "Object Key",
                  "sensitive" : false
                },
                "AWS Credentials Provider service" : {
                  "displayName" : "AWS Credentials Provider service",
                  "identifiesControllerService" : true,
                  "name" : "AWS Credentials Provider service",
                  "sensitive" : false
                },
                "Multipart Threshold" : {
                  "displayName" : "Multipart Threshold",
                  "identifiesControllerService" : false,
                  "name" : "Multipart Threshold",
                  "sensitive" : false
                },
                "s3-object-tags-prefix" : {
                  "displayName" : "Object Tags Prefix",
                  "identifiesControllerService" : false,
                  "name" : "s3-object-tags-prefix",
                  "sensitive" : false
                },
                "SSL Context Service" : {
                  "displayName" : "SSL Context Service",
                  "identifiesControllerService" : true,
                  "name" : "SSL Context Service",
                  "sensitive" : false
                },
                "Bucket" : {
                  "displayName" : "Bucket",
                  "identifiesControllerService" : false,
                  "name" : "Bucket",
                  "sensitive" : false
                },
                "Multipart Upload AgeOff Interval" : {
                  "displayName" : "Multipart Upload AgeOff Interval",
                  "identifiesControllerService" : false,
                  "name" : "Multipart Upload AgeOff Interval",
                  "sensitive" : false
                },
                "use-path-style-access" : {
                  "displayName" : "Use Path Style Access",
                  "identifiesControllerService" : false,
                  "name" : "use-path-style-access",
                  "sensitive" : false
                },
                "Write Permission User List" : {
                  "displayName" : "Write Permission User List",
                  "identifiesControllerService" : false,
                  "name" : "Write Permission User List",
                  "sensitive" : false
                },
                "Communications Timeout" : {
                  "displayName" : "Communications Timeout",
                  "identifiesControllerService" : false,
                  "name" : "Communications Timeout",
                  "sensitive" : false
                },
                "Credentials File" : {
                  "displayName" : "Credentials File",
                  "identifiesControllerService" : false,
                  "name" : "Credentials File",
                  "sensitive" : false
                },
                "Region" : {
                  "displayName" : "Region",
                  "identifiesControllerService" : false,
                  "name" : "Region",
                  "sensitive" : false
                },
                "Read Permission User List" : {
                  "displayName" : "Read Permission User List",
                  "identifiesControllerService" : false,
                  "name" : "Read Permission User List",
                  "sensitive" : false
                },
                "Expiration Time Rule" : {
                  "displayName" : "Expiration Time Rule",
                  "identifiesControllerService" : false,
                  "name" : "Expiration Time Rule",
                  "sensitive" : false
                },
                "proxy-user-name" : {
                  "displayName" : "Proxy Username",
                  "identifiesControllerService" : false,
                  "name" : "proxy-user-name",
                  "sensitive" : false
                },
                "Proxy Host Port" : {
                  "displayName" : "Proxy Host Port",
                  "identifiesControllerService" : false,
                  "name" : "Proxy Host Port",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-scripting-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "d6807cad-6976-3156-af18-7f2a8587b2eb",
              "name" : "List Files",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 464.0,
                "y" : 128.0
              },
              "properties" : {
                "Script Engine" : "Groovy",
                "Script Body" : "import java.nio.charset.StandardCharsets\nimport groovy.io.FileType\n\ndef flowFile = session.get()\nif(!flowFile) return\ndef flowFiles = [] as List<FlowFile>\ndef fetchDirectory = flowFile.getAttribute('path')\ndef listOfFiles = []\ndef dir = new File(fetchDirectory)\nif(dir.exists()) {\n   dir.eachFileRecurse (FileType.FILES) { file ->\n      listOfFiles << file\n   }\n}\nlistOfFiles.each { i ->\n   def newFlowFile = session.create()\n   session.putAttribute(newFlowFile, 'absolute.path', i.path.substring(0, i.path.lastIndexOf(File.separator)))\n   session.putAttribute(newFlowFile, 'filename', i.getName())\n   flowFiles << newFlowFile\n}\nsession.remove(flowFile)\nsession.transfer(flowFiles, REL_SUCCESS)"
              },
              "propertyDescriptors" : {
                "Script File" : {
                  "displayName" : "Script File",
                  "identifiesControllerService" : false,
                  "name" : "Script File",
                  "sensitive" : false
                },
                "Script Engine" : {
                  "displayName" : "Script Engine",
                  "identifiesControllerService" : false,
                  "name" : "Script Engine",
                  "sensitive" : false
                },
                "Script Body" : {
                  "displayName" : "Script Body",
                  "identifiesControllerService" : false,
                  "name" : "Script Body",
                  "sensitive" : false
                },
                "Module Directory" : {
                  "displayName" : "Module Directory",
                  "identifiesControllerService" : false,
                  "name" : "Module Directory",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.script.ExecuteScript",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
              "identifier" : "920157a2-cdb8-3004-9e4d-8c13de0d9eff",
              "name" : "Fetch Files",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 464.0,
                "y" : 264.0
              },
              "properties" : {
                "Move Conflict Strategy" : "Rename",
                "Log level when file not found" : "ERROR",
                "Log level when permission denied" : "ERROR",
                "File to Fetch" : "${absolute.path}/${filename}",
                "Completion Strategy" : "None"
              },
              "propertyDescriptors" : {
                "Move Conflict Strategy" : {
                  "displayName" : "Move Conflict Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Move Conflict Strategy",
                  "sensitive" : false
                },
                "Log level when file not found" : {
                  "displayName" : "Log level when file not found",
                  "identifiesControllerService" : false,
                  "name" : "Log level when file not found",
                  "sensitive" : false
                },
                "Move Destination Directory" : {
                  "displayName" : "Move Destination Directory",
                  "identifiesControllerService" : false,
                  "name" : "Move Destination Directory",
                  "sensitive" : false
                },
                "Log level when permission denied" : {
                  "displayName" : "Log level when permission denied",
                  "identifiesControllerService" : false,
                  "name" : "Log level when permission denied",
                  "sensitive" : false
                },
                "File to Fetch" : {
                  "displayName" : "File to Fetch",
                  "identifiesControllerService" : false,
                  "name" : "File to Fetch",
                  "sensitive" : false
                },
                "Completion Strategy" : {
                  "displayName" : "Completion Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Completion Strategy",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.FetchFile",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 464.0,
                "y" : 240.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "86c0bea3-1425-3fda-aa12-0cd798b050e0",
                "name" : "Set Metadata File Name",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "d275bb32-2025-3631-b3b9-12ba0459a93e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "65b4361a-6673-39c2-a711-daa72495f686",
                "name" : "Jolt Extract Metadata Json",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 912.0,
                "y" : 544.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "00063a03-d14d-3a78-9405-60268810fa07",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "21a494ee-acdc-3f94-9b22-d51d755e25fd",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "170121f8-789c-303b-b149-380210a768e9",
                "name" : "Save Metadata into File",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 464.0,
                "y" : 376.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "170121f8-789c-303b-b149-380210a768e9",
                "name" : "Save Metadata into File",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "901d7962-b0af-3ae2-9dda-ffc1376ba847",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "86c0bea3-1425-3fda-aa12-0cd798b050e0",
                "name" : "Set Metadata File Name",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 640.0,
                "y" : 544.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "00063a03-d14d-3a78-9405-60268810fa07",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "62751263-40eb-3af0-8ab5-d00974841472",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "170121f8-789c-303b-b149-380210a768e9",
                "name" : "Save Metadata into File",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "65b4361a-6673-39c2-a711-daa72495f686",
                "name" : "Jolt Extract Metadata Json",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "d29b6509-334c-38e0-8bc6-3bd6df9b156b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "ad3c30a7-39a0-3faa-99b2-883aab4bea3f",
                "name" : "input",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "ad3c30a7-39a0-3faa-99b2-883aab4bea3f",
              "name" : "input",
              "position" : {
                "x" : 656.0,
                "y" : 16.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Extract Metadata into a File",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "comments" : "",
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "00063a03-d14d-3a78-9405-60268810fa07",
              "name" : "output",
              "position" : {
                "x" : 664.0,
                "y" : 584.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : -904.0,
              "y" : -264.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "170121f8-789c-303b-b149-380210a768e9",
              "name" : "Save Metadata into File",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 600.0,
                "y" : 384.0
              },
              "properties" : {
                "Create Missing Directories" : "true",
                "Directory" : "${path}",
                "Conflict Resolution Strategy" : "replace"
              },
              "propertyDescriptors" : {
                "Group" : {
                  "displayName" : "Group",
                  "identifiesControllerService" : false,
                  "name" : "Group",
                  "sensitive" : false
                },
                "Owner" : {
                  "displayName" : "Owner",
                  "identifiesControllerService" : false,
                  "name" : "Owner",
                  "sensitive" : false
                },
                "Create Missing Directories" : {
                  "displayName" : "Create Missing Directories",
                  "identifiesControllerService" : false,
                  "name" : "Create Missing Directories",
                  "sensitive" : false
                },
                "Permissions" : {
                  "displayName" : "Permissions",
                  "identifiesControllerService" : false,
                  "name" : "Permissions",
                  "sensitive" : false
                },
                "Maximum File Count" : {
                  "displayName" : "Maximum File Count",
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Count",
                  "sensitive" : false
                },
                "Last Modified Time" : {
                  "displayName" : "Last Modified Time",
                  "identifiesControllerService" : false,
                  "name" : "Last Modified Time",
                  "sensitive" : false
                },
                "Directory" : {
                  "displayName" : "Directory",
                  "identifiesControllerService" : false,
                  "name" : "Directory",
                  "sensitive" : false
                },
                "Conflict Resolution Strategy" : {
                  "displayName" : "Conflict Resolution Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Conflict Resolution Strategy",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.PutFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "65b4361a-6673-39c2-a711-daa72495f686",
              "name" : "Jolt Extract Metadata Json",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 600.0,
                "y" : 112.0
              },
              "properties" : {
                "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n      \"metadata\": {\n        \"*\": \"&\"\n      }\n    }\n}]",
                "jolt-transform" : "jolt-transform-chain",
                "pretty_print" : "false",
                "Transform Cache Size" : "1"
              },
              "propertyDescriptors" : {
                "jolt-spec" : {
                  "displayName" : "Jolt Specification",
                  "identifiesControllerService" : false,
                  "name" : "jolt-spec",
                  "sensitive" : false
                },
                "jolt-transform" : {
                  "displayName" : "Jolt Transformation DSL",
                  "identifiesControllerService" : false,
                  "name" : "jolt-transform",
                  "sensitive" : false
                },
                "jolt-custom-class" : {
                  "displayName" : "Custom Transformation Class Name",
                  "identifiesControllerService" : false,
                  "name" : "jolt-custom-class",
                  "sensitive" : false
                },
                "jolt-custom-modules" : {
                  "displayName" : "Custom Module Directory",
                  "identifiesControllerService" : false,
                  "name" : "jolt-custom-modules",
                  "sensitive" : false
                },
                "pretty_print" : {
                  "displayName" : "Pretty Print",
                  "identifiesControllerService" : false,
                  "name" : "pretty_print",
                  "sensitive" : false
                },
                "Transform Cache Size" : {
                  "displayName" : "Transform Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "Transform Cache Size",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "86c0bea3-1425-3fda-aa12-0cd798b050e0",
              "name" : "Set Metadata File Name",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 600.0,
                "y" : 248.0
              },
              "properties" : {
                "filename" : "metadata.json",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "filename" : {
                  "displayName" : "filename",
                  "identifiesControllerService" : false,
                  "name" : "filename",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
            "name" : "Route based on values",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1624.0,
              "y" : 168.0
            },
            "properties" : {
              "valid" : "${validations:equals('valid')}",
              "Routing Strategy" : "Route to Property name",
              "invalid" : "${validations:equals('invalid')}"
            },
            "propertyDescriptors" : {
              "valid" : {
                "displayName" : "valid",
                "identifiesControllerService" : false,
                "name" : "valid",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "invalid" : {
                "displayName" : "invalid",
                "identifiesControllerService" : false,
                "name" : "invalid",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "2c192b92-bf79-3121-84f7-735be8909aaa",
            "name" : "Invoke GET /validations",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1624.0,
              "y" : 32.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{helpersUrl}",
              "Content-Type" : "application/json",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Attributes to Send",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Use HTTP ETag",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Basic Authentication Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Send Message Body",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Set Flowfile Form Data File Name",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Always Output Response",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Maximum ETag Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Put Response Body In Attribute",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Follow Redirects",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "Remote URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Flowfile Form Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Max Length To Put In Attribute",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Ignore response's content",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Use Digest Authentication",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Add Response Headers to Request",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Basic Authentication Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Include Date Header",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Penalize on \"No Retry\"",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Useragent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 min",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "20e5c561-f633-32f8-8d52-bced576c56ea",
            "name" : "Jolt Transform Json",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2512.0,
              "y" : -240.0
            },
            "properties" : {
              "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"jobId\": \"jobId\",\n\t\t\"path\": \"path\",\n\t\t\"metadata\": \"metadata\"\n\t},\n\t\"operation\": \"modify-default-beta\",\n\t\"spec\": {\n\t\t\"flowId\": \"${UUID()}\"\n\t}\n}]",
              "jolt-transform" : "jolt-transform-chain",
              "pretty_print" : "false",
              "Transform Cache Size" : "1"
            },
            "propertyDescriptors" : {
              "jolt-spec" : {
                "displayName" : "Jolt Specification",
                "identifiesControllerService" : false,
                "name" : "jolt-spec",
                "sensitive" : false
              },
              "jolt-transform" : {
                "displayName" : "Jolt Transformation DSL",
                "identifiesControllerService" : false,
                "name" : "jolt-transform",
                "sensitive" : false
              },
              "jolt-custom-class" : {
                "displayName" : "Custom Transformation Class Name",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-class",
                "sensitive" : false
              },
              "jolt-custom-modules" : {
                "displayName" : "Custom Module Directory",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-modules",
                "sensitive" : false
              },
              "pretty_print" : {
                "displayName" : "Pretty Print",
                "identifiesControllerService" : false,
                "name" : "pretty_print",
                "sensitive" : false
              },
              "Transform Cache Size" : {
                "displayName" : "Transform Cache Size",
                "identifiesControllerService" : false,
                "name" : "Transform Cache Size",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "db371b1f-2651-36e2-a74c-22cfae8573ca",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -800.0,
              "y" : 824.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "false",
              "Attributes List" : "productId,productName,geographicArea,productVersion,productType,description,classification,footprint,extentLowerLeft,extentUpperRight,SourceDateStart,SourceDateEnd,producerName,SRS,SRSOrigin,nominalResolution,accuracyLE90,horizontalAccuracyCE90,relativeAccuracyLE90,heightRangeFrom,heightRangeTo,sensor,productionMethod,productionSystem",
              "Include Core Attributes" : "true"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1624.0,
              "y" : -240.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "jobId" : "$.jobId",
              "path" : "$.path",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "flowId" : "$.flowId",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "jobId" : {
                "displayName" : "jobId",
                "identifiesControllerService" : false,
                "name" : "jobId",
                "sensitive" : false
              },
              "path" : {
                "displayName" : "path",
                "identifiesControllerService" : false,
                "name" : "path",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "flowId" : {
                "displayName" : "flowId",
                "identifiesControllerService" : false,
                "name" : "flowId",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "f6c213ed-c695-3bd1-8925-8d0c03916539",
            "name" : "Set Status -> Completed",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1624.0,
              "y" : 600.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "status" : "Completed"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "status" : {
                "displayName" : "status",
                "identifiesControllerService" : false,
                "name" : "status",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "49118c8e-3783-3a3b-9db9-ce8b0faf08ff",
            "name" : "Set Status -> Failed",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1272.0,
              "y" : 384.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "status" : "Failed"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "status" : {
                "displayName" : "status",
                "identifiesControllerService" : false,
                "name" : "status",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-update-attribute-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "e341dad6-e9e1-3421-bee1-841ad5ec6cc7",
            "name" : "Set Status -> In-Progress",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1624.0,
              "y" : -104.0
            },
            "properties" : {
              "Store State" : "Do not store state",
              "canonical-value-lookup-cache-size" : "100",
              "status" : "In-Progress"
            },
            "propertyDescriptors" : {
              "Delete Attributes Expression" : {
                "displayName" : "Delete Attributes Expression",
                "identifiesControllerService" : false,
                "name" : "Delete Attributes Expression",
                "sensitive" : false
              },
              "Store State" : {
                "displayName" : "Store State",
                "identifiesControllerService" : false,
                "name" : "Store State",
                "sensitive" : false
              },
              "canonical-value-lookup-cache-size" : {
                "displayName" : "Cache Value Lookup Cache Size",
                "identifiesControllerService" : false,
                "name" : "canonical-value-lookup-cache-size",
                "sensitive" : false
              },
              "Stateful Variables Initial Value" : {
                "displayName" : "Stateful Variables Initial Value",
                "identifiesControllerService" : false,
                "name" : "Stateful Variables Initial Value",
                "sensitive" : false
              },
              "status" : {
                "displayName" : "status",
                "identifiesControllerService" : false,
                "name" : "status",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "0d731f35-e42d-37f0-af97-e42d8050f1e1",
          "name" : "Handle Http POST Request",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 440.0,
            "y" : -16.0
          },
          "properties" : {
            "multipart-request-max-size" : "1 MB",
            "Allow POST" : "true",
            "Default URL Character Set" : "UTF-8",
            "Allow DELETE" : "false",
            "container-queue-size" : "50",
            "HTTP Context Map" : "bf9f17e3-94a9-3d70-b96c-ead039effd77",
            "multipart-read-buffer-size" : "512 KB",
            "Allow OPTIONS" : "false",
            "Allow GET" : "false",
            "Allow HEAD" : "false",
            "Listening Port" : "#{port}",
            "Client Authentication" : "No Authentication",
            "Allow PUT" : "false"
          },
          "propertyDescriptors" : {
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "Allow POST" : {
              "displayName" : "Allow POST",
              "identifiesControllerService" : false,
              "name" : "Allow POST",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Default URL Character Set" : {
              "displayName" : "Default URL Character Set",
              "identifiesControllerService" : false,
              "name" : "Default URL Character Set",
              "sensitive" : false
            },
            "Allow DELETE" : {
              "displayName" : "Allow DELETE",
              "identifiesControllerService" : false,
              "name" : "Allow DELETE",
              "sensitive" : false
            },
            "Additional HTTP Methods" : {
              "displayName" : "Additional HTTP Methods",
              "identifiesControllerService" : false,
              "name" : "Additional HTTP Methods",
              "sensitive" : false
            },
            "container-queue-size" : {
              "displayName" : "Container Queue Size",
              "identifiesControllerService" : false,
              "name" : "container-queue-size",
              "sensitive" : false
            },
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Allow OPTIONS" : {
              "displayName" : "Allow OPTIONS",
              "identifiesControllerService" : false,
              "name" : "Allow OPTIONS",
              "sensitive" : false
            },
            "Allowed Paths" : {
              "displayName" : "Allowed Paths",
              "identifiesControllerService" : false,
              "name" : "Allowed Paths",
              "sensitive" : false
            },
            "Allow GET" : {
              "displayName" : "Allow GET",
              "identifiesControllerService" : false,
              "name" : "Allow GET",
              "sensitive" : false
            },
            "Allow HEAD" : {
              "displayName" : "Allow HEAD",
              "identifiesControllerService" : false,
              "name" : "Allow HEAD",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "Client Authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "Client Authentication",
              "sensitive" : false
            },
            "Allow PUT" : {
              "displayName" : "Allow PUT",
              "identifiesControllerService" : false,
              "name" : "Allow PUT",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
          "name" : "Handle Http POST Response",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 448.0,
            "y" : 424.0
          },
          "properties" : {
            "HTTP Context Map" : "bf9f17e3-94a9-3d70-b96c-ead039effd77",
            "HTTP Status Code" : "201"
          },
          "propertyDescriptors" : {
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "HTTP Status Code" : {
              "displayName" : "HTTP Status Code",
              "identifiesControllerService" : false,
              "name" : "HTTP Status Code",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "3dFlowParams" : {
          "name" : "3dFlowParams",
          "parameters" : [ {
            "description" : "",
            "name" : "modelsUrl",
            "sensitive" : false,
            "value" : "http://localhost:8082/models"
          }, {
            "description" : "",
            "name" : "jobsUrl",
            "sensitive" : false,
            "value" : "http://localhost:8081/jobs"
          }, {
            "description" : "",
            "name" : "bucket",
            "sensitive" : false,
            "value" : "3dtiles"
          }, {
            "description" : "",
            "name" : "port",
            "sensitive" : false,
            "value" : "8083"
          }, {
            "description" : "",
            "name" : "catalogUrl",
            "sensitive" : false,
            "value" : "http://localhost:8085/metadata"
          }, {
            "description" : "",
            "name" : "helpersUrl",
            "sensitive" : false,
            "value" : "http://localhost:8084/validations"
          } ]
        }
      }
    }
  }
}