Bucket/3D_Ingestion_Data_Flow.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "id" : "22b13e28-9c71-33c6-94b3-40faca086823",
            "name" : "input",
            "type" : "INPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "91a7144b-29b2-3b8b-bc7a-9c60aa4b99a1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "0d731f35-e42d-37f0-af97-e42d8050f1e1",
            "name" : "Handle Http POST Request",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
            "name" : "Handle Http POST Response",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "31bc3b3e-4147-3cb2-bfb1-adf0b20661df",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "" ],
          "source" : {
            "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "id" : "f5b86fb4-ccae-3da3-9dcf-92d3765032b2",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 496.0,
            "y" : 576.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "780e5c77-feed-3110-8d05-f7ef13299d98",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "c4842195-acf6-38ff-ad61-fb6aee92a7bd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
            "name" : "Handle Http POST Response",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ {
            "x" : 736.0,
            "y" : 576.0
          } ],
          "componentType" : "CONNECTION",
          "destination" : {
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "780e5c77-feed-3110-8d05-f7ef13299d98",
            "name" : "output",
            "type" : "OUTPUT_PORT"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "73290e19-aecb-3346-aaf0-b19654e7548a",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
            "id" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
            "name" : "Handle Http POST Response",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bundle" : {
            "artifact" : "nifi-http-context-map-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "type" : "org.apache.nifi.http.HttpContextMap"
          } ],
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "bf9f17e3-94a9-3d70-b96c-ead039effd77",
          "name" : "StandardHttpContextMap",
          "properties" : {
            "Request Expiration" : "1 min",
            "Maximum Outstanding Requests" : "5000"
          },
          "propertyDescriptors" : {
            "Request Expiration" : {
              "displayName" : "Request Expiration",
              "identifiesControllerService" : false,
              "name" : "Request Expiration",
              "sensitive" : false
            },
            "Maximum Outstanding Requests" : {
              "displayName" : "Maximum Outstanding Requests",
              "identifiesControllerService" : false,
              "name" : "Maximum Outstanding Requests",
              "sensitive" : false
            }
          },
          "type" : "org.apache.nifi.http.StandardHttpContextMap"
        } ],
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
        "inputPorts" : [ ],
        "labels" : [ ],
        "name" : "3D Ingestion Data Flow",
        "outputPorts" : [ {
          "allowRemoteAccess" : false,
          "componentType" : "OUTPUT_PORT",
          "concurrentlySchedulableTaskCount" : 1,
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "780e5c77-feed-3110-8d05-f7ef13299d98",
          "name" : "output",
          "position" : {
            "x" : 512.0,
            "y" : 616.0
          },
          "type" : "OUTPUT_PORT"
        } ],
        "parameterContextName" : "3dFlowParams",
        "position" : {
          "x" : 912.0,
          "y" : 424.0
        },
        "processGroups" : [ {
          "comments" : "",
          "componentType" : "PROCESS_GROUP",
          "connections" : [ {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1256.0,
              "y" : 200.0
            }, {
              "x" : -1256.0,
              "y" : 248.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "181ca7de-b57a-3558-9c80-1c7c992822e0",
              "name" : "Store Files in S3 inProgress bucket",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "ecdab13b-c7d7-371b-a775-d5b72d6b95d8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "181ca7de-b57a-3558-9c80-1c7c992822e0",
              "name" : "Store Files in S3 inProgress bucket",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1032.0,
              "y" : 800.0
            }, {
              "x" : -1032.0,
              "y" : 848.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "60e50422-f3b2-3c3f-b60c-9bedb4383178",
              "name" : "Store Files in S3 failed bucket",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "a2600c98-4d28-3018-8391-e9839dbdbe36",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "60e50422-f3b2-3c3f-b60c-9bedb4383178",
              "name" : "Store Files in S3 failed bucket",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1888.0,
              "y" : -96.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "fb7d210e-ebb9-3505-8e5c-6ef982c360e1",
              "name" : "List Files",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "52146515-36e5-314c-8e78-d991b4d356eb",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1888.0,
              "y" : 584.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
              "name" : "Route based on values",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "978da382-9816-3b65-b34f-1c978f729784",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "2c192b92-bf79-3121-84f7-735be8909aaa",
              "name" : "Invoke GET /validations",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1864.0,
              "y" : 752.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "7787a116-78ab-3f8c-b083-a265af43ae73",
              "name" : "Store Files in S3 completed bucket",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "8ada2ee2-e045-3649-92d0-fd0d150be49f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "valid" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
              "name" : "Route based on values",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1888.0,
              "y" : 448.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "2c192b92-bf79-3121-84f7-735be8909aaa",
              "name" : "Invoke GET /validations",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "797139e2-2c6a-3d08-8941-f646e8f91f27",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Original" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "d062ee6c-542d-32cf-a4a5-0fe089371be2",
              "name" : "Invoke PATCH /jobs with InProgress status",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1888.0,
              "y" : 40.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "37f88a3c-81a4-30cb-83b9-4fe12eaf400d",
              "name" : "Fetch Files",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "265c5b9d-cca1-36ea-88cd-9a616209221f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "fb7d210e-ebb9-3505-8e5c-6ef982c360e1",
              "name" : "List Files",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "6c6f3105-8452-3860-aedc-254146b28a0d",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "20e5c561-f633-32f8-8d52-bced576c56ea",
              "name" : "Jolt Transform Json",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1288.0,
              "y" : 752.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "60e50422-f3b2-3c3f-b60c-9bedb4383178",
              "name" : "Store Files in S3 failed bucket",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "e08877f5-ecfe-329d-971b-fc94676736b5",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "invalid" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
              "name" : "Route based on values",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2112.0,
              "y" : 920.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "6f85cd18-c7b0-3ff0-863c-5d742b8177c4",
              "name" : "Invoke POST /catalog",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "16394de8-ef62-3dfc-b028-153005ecf3ee",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "7787a116-78ab-3f8c-b083-a265af43ae73",
              "name" : "Store Files in S3 completed bucket",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1888.0,
              "y" : 312.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "d062ee6c-542d-32cf-a4a5-0fe089371be2",
              "name" : "Invoke PATCH /jobs with InProgress status",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "ffc57c54-8a62-36d6-a5bd-f34d1b83e450",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "181ca7de-b57a-3558-9c80-1c7c992822e0",
              "name" : "Store Files in S3 inProgress bucket",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1888.0,
              "y" : 176.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "181ca7de-b57a-3558-9c80-1c7c992822e0",
              "name" : "Store Files in S3 inProgress bucket",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "25349f79-9e79-3a24-a54b-de9847ead2a2",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "37f88a3c-81a4-30cb-83b9-4fe12eaf400d",
              "name" : "Fetch Files",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2648.0,
              "y" : -128.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f5b86fb4-ccae-3da3-9dcf-92d3765032b2",
              "name" : "output",
              "type" : "OUTPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "028455fb-6bc1-3e48-ba52-5bf0c7c97e53",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "20e5c561-f633-32f8-8d52-bced576c56ea",
              "name" : "Jolt Transform Json",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2112.0,
              "y" : 1056.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "b346da86-99ed-31b3-97e7-6799be3e638f",
              "name" : "Invoke PATCH /jobs with Completed status",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "e3901265-9f53-3f76-aa7c-2895f4313f6f",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "Response" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "6f85cd18-c7b0-3ff0-863c-5d742b8177c4",
              "name" : "Invoke POST /catalog",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2646.655059814453,
              "y" : -238.88983154296875
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "20e5c561-f633-32f8-8d52-bced576c56ea",
              "name" : "Jolt Transform Json",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "a9880b0a-8c38-35dd-b85a-9fb6446d9d90",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "" ],
            "source" : {
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "22b13e28-9c71-33c6-94b3-40faca086823",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1128.0,
              "y" : -168.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "id" : "ad3c30a7-39a0-3faa-99b2-883aab4bea3f",
              "name" : "input",
              "type" : "INPUT_PORT"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "4c47f036-a36b-3bbc-bf06-ccc76033c22f",
            "labelIndex" : 0,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "matched" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
              "name" : "EvaluateJsonPath",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -1032.0,
              "y" : 920.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "e0c53d8f-0570-30e9-97b7-588fd123075d",
              "name" : "Invoke PATCH /jobs with Failed status",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "20f94f33-d38e-3a1e-b615-176ff23a96eb",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "success" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "60e50422-f3b2-3c3f-b60c-9bedb4383178",
              "name" : "Store Files in S3 failed bucket",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          }, {
            "backPressureDataSizeThreshold" : "1 GB",
            "backPressureObjectThreshold" : 10000,
            "bends" : [ {
              "x" : -2120.0,
              "y" : 800.0
            }, {
              "x" : -2120.0,
              "y" : 848.0
            } ],
            "componentType" : "CONNECTION",
            "destination" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "7787a116-78ab-3f8c-b083-a265af43ae73",
              "name" : "Store Files in S3 completed bucket",
              "type" : "PROCESSOR"
            },
            "flowFileExpiration" : "0 sec",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "bb48d28f-7dbe-3fcc-9723-7eab671327f8",
            "labelIndex" : 1,
            "loadBalanceCompression" : "DO_NOT_COMPRESS",
            "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
            "name" : "",
            "partitioningAttribute" : "",
            "prioritizers" : [ ],
            "selectedRelationships" : [ "failure" ],
            "source" : {
              "comments" : "",
              "groupId" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
              "id" : "7787a116-78ab-3f8c-b083-a265af43ae73",
              "name" : "Store Files in S3 completed bucket",
              "type" : "PROCESSOR"
            },
            "zIndex" : 0
          } ],
          "controllerServices" : [ ],
          "flowFileConcurrency" : "UNBOUNDED",
          "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
          "funnels" : [ ],
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
          "inputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "INPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "22b13e28-9c71-33c6-94b3-40faca086823",
            "name" : "input",
            "position" : {
              "x" : -2456.0,
              "y" : -320.0
            },
            "type" : "INPUT_PORT"
          } ],
          "labels" : [ ],
          "name" : "Data Flow",
          "outputPorts" : [ {
            "allowRemoteAccess" : false,
            "componentType" : "OUTPUT_PORT",
            "concurrentlySchedulableTaskCount" : 1,
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "f5b86fb4-ccae-3da3-9dcf-92d3765032b2",
            "name" : "output",
            "position" : {
              "x" : -2456.0,
              "y" : -80.0
            },
            "type" : "OUTPUT_PORT"
          } ],
          "parameterContextName" : "3dFlowParams",
          "position" : {
            "x" : 432.0,
            "y" : 192.0
          },
          "processGroups" : [ {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "83adb01f-c440-3f2c-8a09-6b8d670e208a",
            "inputPorts" : [ ],
            "labels" : [ ],
            "name" : "Store Files in an Object Store",
            "outputPorts" : [ ],
            "position" : {
              "x" : -1272.0,
              "y" : 320.0
            },
            "processGroups" : [ ],
            "processors" : [ ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          }, {
            "comments" : "",
            "componentType" : "PROCESS_GROUP",
            "connections" : [ {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 464.0,
                "y" : 240.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "86c0bea3-1425-3fda-aa12-0cd798b050e0",
                "name" : "Set Metadata File Name",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "d275bb32-2025-3631-b3b9-12ba0459a93e",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "65b4361a-6673-39c2-a711-daa72495f686",
                "name" : "Jolt Extract Metadata Json",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 912.0,
                "y" : 544.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "00063a03-d14d-3a78-9405-60268810fa07",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "21a494ee-acdc-3f94-9b22-d51d755e25fd",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "failure" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "170121f8-789c-303b-b149-380210a768e9",
                "name" : "Save Metadata into File",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 464.0,
                "y" : 376.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "170121f8-789c-303b-b149-380210a768e9",
                "name" : "Save Metadata into File",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "901d7962-b0af-3ae2-9dda-ffc1376ba847",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "86c0bea3-1425-3fda-aa12-0cd798b050e0",
                "name" : "Set Metadata File Name",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ {
                "x" : 640.0,
                "y" : 544.0
              } ],
              "componentType" : "CONNECTION",
              "destination" : {
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "00063a03-d14d-3a78-9405-60268810fa07",
                "name" : "output",
                "type" : "OUTPUT_PORT"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "62751263-40eb-3af0-8ab5-d00974841472",
              "labelIndex" : 0,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "success" ],
              "source" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "170121f8-789c-303b-b149-380210a768e9",
                "name" : "Save Metadata into File",
                "type" : "PROCESSOR"
              },
              "zIndex" : 0
            }, {
              "backPressureDataSizeThreshold" : "1 GB",
              "backPressureObjectThreshold" : 10000,
              "bends" : [ ],
              "componentType" : "CONNECTION",
              "destination" : {
                "comments" : "",
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "65b4361a-6673-39c2-a711-daa72495f686",
                "name" : "Jolt Extract Metadata Json",
                "type" : "PROCESSOR"
              },
              "flowFileExpiration" : "0 sec",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "d29b6509-334c-38e0-8bc6-3bd6df9b156b",
              "labelIndex" : 1,
              "loadBalanceCompression" : "DO_NOT_COMPRESS",
              "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
              "name" : "",
              "partitioningAttribute" : "",
              "prioritizers" : [ ],
              "selectedRelationships" : [ "" ],
              "source" : {
                "groupId" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
                "id" : "ad3c30a7-39a0-3faa-99b2-883aab4bea3f",
                "name" : "input",
                "type" : "INPUT_PORT"
              },
              "zIndex" : 0
            } ],
            "controllerServices" : [ ],
            "flowFileConcurrency" : "UNBOUNDED",
            "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
            "funnels" : [ ],
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
            "inputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "INPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "ad3c30a7-39a0-3faa-99b2-883aab4bea3f",
              "name" : "input",
              "position" : {
                "x" : 656.0,
                "y" : 16.0
              },
              "type" : "INPUT_PORT"
            } ],
            "labels" : [ ],
            "name" : "Extract Metadata into a File",
            "outputPorts" : [ {
              "allowRemoteAccess" : false,
              "componentType" : "OUTPUT_PORT",
              "concurrentlySchedulableTaskCount" : 1,
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "00063a03-d14d-3a78-9405-60268810fa07",
              "name" : "output",
              "position" : {
                "x" : 664.0,
                "y" : 584.0
              },
              "type" : "OUTPUT_PORT"
            } ],
            "position" : {
              "x" : -1320.0,
              "y" : -48.0
            },
            "processGroups" : [ ],
            "processors" : [ {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "170121f8-789c-303b-b149-380210a768e9",
              "name" : "Save Metadata into File",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 600.0,
                "y" : 384.0
              },
              "properties" : {
                "Create Missing Directories" : "true",
                "Directory" : "${path}",
                "Conflict Resolution Strategy" : "replace"
              },
              "propertyDescriptors" : {
                "Group" : {
                  "displayName" : "Group",
                  "identifiesControllerService" : false,
                  "name" : "Group",
                  "sensitive" : false
                },
                "Owner" : {
                  "displayName" : "Owner",
                  "identifiesControllerService" : false,
                  "name" : "Owner",
                  "sensitive" : false
                },
                "Create Missing Directories" : {
                  "displayName" : "Create Missing Directories",
                  "identifiesControllerService" : false,
                  "name" : "Create Missing Directories",
                  "sensitive" : false
                },
                "Permissions" : {
                  "displayName" : "Permissions",
                  "identifiesControllerService" : false,
                  "name" : "Permissions",
                  "sensitive" : false
                },
                "Maximum File Count" : {
                  "displayName" : "Maximum File Count",
                  "identifiesControllerService" : false,
                  "name" : "Maximum File Count",
                  "sensitive" : false
                },
                "Last Modified Time" : {
                  "displayName" : "Last Modified Time",
                  "identifiesControllerService" : false,
                  "name" : "Last Modified Time",
                  "sensitive" : false
                },
                "Directory" : {
                  "displayName" : "Directory",
                  "identifiesControllerService" : false,
                  "name" : "Directory",
                  "sensitive" : false
                },
                "Conflict Resolution Strategy" : {
                  "displayName" : "Conflict Resolution Strategy",
                  "identifiesControllerService" : false,
                  "name" : "Conflict Resolution Strategy",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.PutFile",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ "failure" ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-standard-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "65b4361a-6673-39c2-a711-daa72495f686",
              "name" : "Jolt Extract Metadata Json",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 600.0,
                "y" : 112.0
              },
              "properties" : {
                "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n      \"metadata\": {\n        \"*\": \"&\"\n      }\n    }\n}]",
                "jolt-transform" : "jolt-transform-chain",
                "pretty_print" : "false",
                "Transform Cache Size" : "1"
              },
              "propertyDescriptors" : {
                "jolt-spec" : {
                  "displayName" : "Jolt Specification",
                  "identifiesControllerService" : false,
                  "name" : "jolt-spec",
                  "sensitive" : false
                },
                "jolt-transform" : {
                  "displayName" : "Jolt Transformation DSL",
                  "identifiesControllerService" : false,
                  "name" : "jolt-transform",
                  "sensitive" : false
                },
                "jolt-custom-class" : {
                  "displayName" : "Custom Transformation Class Name",
                  "identifiesControllerService" : false,
                  "name" : "jolt-custom-class",
                  "sensitive" : false
                },
                "jolt-custom-modules" : {
                  "displayName" : "Custom Module Directory",
                  "identifiesControllerService" : false,
                  "name" : "jolt-custom-modules",
                  "sensitive" : false
                },
                "pretty_print" : {
                  "displayName" : "Pretty Print",
                  "identifiesControllerService" : false,
                  "name" : "pretty_print",
                  "sensitive" : false
                },
                "Transform Cache Size" : {
                  "displayName" : "Transform Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "Transform Cache Size",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
              "yieldDuration" : "1 sec"
            }, {
              "autoTerminatedRelationships" : [ ],
              "bulletinLevel" : "WARN",
              "bundle" : {
                "artifact" : "nifi-update-attribute-nar",
                "group" : "org.apache.nifi",
                "version" : "1.12.1"
              },
              "comments" : "",
              "componentType" : "PROCESSOR",
              "concurrentlySchedulableTaskCount" : 1,
              "executionNode" : "ALL",
              "groupIdentifier" : "d600308e-52f3-32ea-9ed7-daaf2c5e316c",
              "identifier" : "86c0bea3-1425-3fda-aa12-0cd798b050e0",
              "name" : "Set Metadata File Name",
              "penaltyDuration" : "30 sec",
              "position" : {
                "x" : 600.0,
                "y" : 248.0
              },
              "properties" : {
                "filename" : "metadata.json",
                "Store State" : "Do not store state",
                "canonical-value-lookup-cache-size" : "100"
              },
              "propertyDescriptors" : {
                "Delete Attributes Expression" : {
                  "displayName" : "Delete Attributes Expression",
                  "identifiesControllerService" : false,
                  "name" : "Delete Attributes Expression",
                  "sensitive" : false
                },
                "filename" : {
                  "displayName" : "filename",
                  "identifiesControllerService" : false,
                  "name" : "filename",
                  "sensitive" : false
                },
                "Store State" : {
                  "displayName" : "Store State",
                  "identifiesControllerService" : false,
                  "name" : "Store State",
                  "sensitive" : false
                },
                "canonical-value-lookup-cache-size" : {
                  "displayName" : "Cache Value Lookup Cache Size",
                  "identifiesControllerService" : false,
                  "name" : "canonical-value-lookup-cache-size",
                  "sensitive" : false
                },
                "Stateful Variables Initial Value" : {
                  "displayName" : "Stateful Variables Initial Value",
                  "identifiesControllerService" : false,
                  "name" : "Stateful Variables Initial Value",
                  "sensitive" : false
                }
              },
              "runDurationMillis" : 0,
              "scheduledState" : "ENABLED",
              "schedulingPeriod" : "0 sec",
              "schedulingStrategy" : "TIMER_DRIVEN",
              "style" : { },
              "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
              "yieldDuration" : "1 sec"
            } ],
            "remoteProcessGroups" : [ ],
            "variables" : { }
          } ],
          "processors" : [ {
            "autoTerminatedRelationships" : [ "failure", "permission.denied", "not.found" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "37f88a3c-81a4-30cb-83b9-4fe12eaf400d",
            "name" : "Fetch Files",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1752.0,
              "y" : 40.0
            },
            "properties" : {
              "Move Conflict Strategy" : "Rename",
              "Log level when file not found" : "ERROR",
              "Log level when permission denied" : "ERROR",
              "File to Fetch" : "${absolute.path}/${filename}",
              "Completion Strategy" : "None"
            },
            "propertyDescriptors" : {
              "Move Conflict Strategy" : {
                "displayName" : "Move Conflict Strategy",
                "identifiesControllerService" : false,
                "name" : "Move Conflict Strategy",
                "sensitive" : false
              },
              "Log level when file not found" : {
                "displayName" : "Log level when file not found",
                "identifiesControllerService" : false,
                "name" : "Log level when file not found",
                "sensitive" : false
              },
              "Move Destination Directory" : {
                "displayName" : "Move Destination Directory",
                "identifiesControllerService" : false,
                "name" : "Move Destination Directory",
                "sensitive" : false
              },
              "Log level when permission denied" : {
                "displayName" : "Log level when permission denied",
                "identifiesControllerService" : false,
                "name" : "Log level when permission denied",
                "sensitive" : false
              },
              "File to Fetch" : {
                "displayName" : "File to Fetch",
                "identifiesControllerService" : false,
                "name" : "File to Fetch",
                "sensitive" : false
              },
              "Completion Strategy" : {
                "displayName" : "Completion Strategy",
                "identifiesControllerService" : false,
                "name" : "Completion Strategy",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.FetchFile",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-aws-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "181ca7de-b57a-3558-9c80-1c7c992822e0",
            "name" : "Store Files in S3 inProgress bucket",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1752.0,
              "y" : 176.0
            },
            "properties" : {
              "FullControl User List" : "${s3.permissions.full.users}",
              "Owner" : "${s3.owner}",
              "s3-object-remove-tags-prefix" : "false",
              "Endpoint Override URL" : "http://10.45.129.235:9000",
              "Multipart Upload Max Age Threshold" : "7 days",
              "canned-acl" : "${s3.permissions.cannedacl}",
              "Signer Override" : "Default Signature",
              "Write ACL User List" : "${s3.permissions.writeacl.users}",
              "server-side-encryption" : "None",
              "Read ACL User List" : "${s3.permissions.readacl.users}",
              "Storage Class" : "Standard",
              "Multipart Part Size" : "5 GB",
              "use-chunked-encoding" : "true",
              "Object Key" : "${filename}",
              "Multipart Threshold" : "5 GB",
              "Bucket" : "#{bucket}/inProgress",
              "Multipart Upload AgeOff Interval" : "60 min",
              "use-path-style-access" : "false",
              "Write Permission User List" : "${s3.permissions.write.users}",
              "Communications Timeout" : "30 secs",
              "Region" : "us-west-2",
              "Read Permission User List" : "${s3.permissions.read.users}"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "FullControl User List" : {
                "displayName" : "FullControl User List",
                "identifiesControllerService" : false,
                "name" : "FullControl User List",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Access Key" : {
                "displayName" : "Access Key ID",
                "identifiesControllerService" : false,
                "name" : "Access Key",
                "sensitive" : true
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Cache Control" : {
                "displayName" : "Cache Control",
                "identifiesControllerService" : false,
                "name" : "Cache Control",
                "sensitive" : false
              },
              "s3-object-remove-tags-prefix" : {
                "displayName" : "Remove Tag Prefix",
                "identifiesControllerService" : false,
                "name" : "s3-object-remove-tags-prefix",
                "sensitive" : false
              },
              "Endpoint Override URL" : {
                "displayName" : "Endpoint Override URL",
                "identifiesControllerService" : false,
                "name" : "Endpoint Override URL",
                "sensitive" : false
              },
              "Multipart Upload Max Age Threshold" : {
                "displayName" : "Multipart Upload Max Age Threshold",
                "identifiesControllerService" : false,
                "name" : "Multipart Upload Max Age Threshold",
                "sensitive" : false
              },
              "canned-acl" : {
                "displayName" : "Canned ACL",
                "identifiesControllerService" : false,
                "name" : "canned-acl",
                "sensitive" : false
              },
              "Signer Override" : {
                "displayName" : "Signer Override",
                "identifiesControllerService" : false,
                "name" : "Signer Override",
                "sensitive" : false
              },
              "proxy-user-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "proxy-user-password",
                "sensitive" : true
              },
              "Content Type" : {
                "displayName" : "Content Type",
                "identifiesControllerService" : false,
                "name" : "Content Type",
                "sensitive" : false
              },
              "Secret Key" : {
                "displayName" : "Secret Access Key",
                "identifiesControllerService" : false,
                "name" : "Secret Key",
                "sensitive" : true
              },
              "Write ACL User List" : {
                "displayName" : "Write ACL User List",
                "identifiesControllerService" : false,
                "name" : "Write ACL User List",
                "sensitive" : false
              },
              "server-side-encryption" : {
                "displayName" : "Server Side Encryption",
                "identifiesControllerService" : false,
                "name" : "server-side-encryption",
                "sensitive" : false
              },
              "Read ACL User List" : {
                "displayName" : "Read ACL User List",
                "identifiesControllerService" : false,
                "name" : "Read ACL User List",
                "sensitive" : false
              },
              "encryption-service" : {
                "displayName" : "Encryption Service",
                "identifiesControllerService" : true,
                "name" : "encryption-service",
                "sensitive" : false
              },
              "Content Disposition" : {
                "displayName" : "Content Disposition",
                "identifiesControllerService" : false,
                "name" : "Content Disposition",
                "sensitive" : false
              },
              "Storage Class" : {
                "displayName" : "Storage Class",
                "identifiesControllerService" : false,
                "name" : "Storage Class",
                "sensitive" : false
              },
              "Multipart Part Size" : {
                "displayName" : "Multipart Part Size",
                "identifiesControllerService" : false,
                "name" : "Multipart Part Size",
                "sensitive" : false
              },
              "use-chunked-encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "use-chunked-encoding",
                "sensitive" : false
              },
              "Object Key" : {
                "displayName" : "Object Key",
                "identifiesControllerService" : false,
                "name" : "Object Key",
                "sensitive" : false
              },
              "AWS Credentials Provider service" : {
                "displayName" : "AWS Credentials Provider service",
                "identifiesControllerService" : true,
                "name" : "AWS Credentials Provider service",
                "sensitive" : false
              },
              "Multipart Threshold" : {
                "displayName" : "Multipart Threshold",
                "identifiesControllerService" : false,
                "name" : "Multipart Threshold",
                "sensitive" : false
              },
              "s3-object-tags-prefix" : {
                "displayName" : "Object Tags Prefix",
                "identifiesControllerService" : false,
                "name" : "s3-object-tags-prefix",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Bucket" : {
                "displayName" : "Bucket",
                "identifiesControllerService" : false,
                "name" : "Bucket",
                "sensitive" : false
              },
              "Multipart Upload AgeOff Interval" : {
                "displayName" : "Multipart Upload AgeOff Interval",
                "identifiesControllerService" : false,
                "name" : "Multipart Upload AgeOff Interval",
                "sensitive" : false
              },
              "use-path-style-access" : {
                "displayName" : "Use Path Style Access",
                "identifiesControllerService" : false,
                "name" : "use-path-style-access",
                "sensitive" : false
              },
              "Write Permission User List" : {
                "displayName" : "Write Permission User List",
                "identifiesControllerService" : false,
                "name" : "Write Permission User List",
                "sensitive" : false
              },
              "Communications Timeout" : {
                "displayName" : "Communications Timeout",
                "identifiesControllerService" : false,
                "name" : "Communications Timeout",
                "sensitive" : false
              },
              "Credentials File" : {
                "displayName" : "Credentials File",
                "identifiesControllerService" : false,
                "name" : "Credentials File",
                "sensitive" : false
              },
              "Region" : {
                "displayName" : "Region",
                "identifiesControllerService" : false,
                "name" : "Region",
                "sensitive" : false
              },
              "Read Permission User List" : {
                "displayName" : "Read Permission User List",
                "identifiesControllerService" : false,
                "name" : "Read Permission User List",
                "sensitive" : false
              },
              "Expiration Time Rule" : {
                "displayName" : "Expiration Time Rule",
                "identifiesControllerService" : false,
                "name" : "Expiration Time Rule",
                "sensitive" : false
              },
              "proxy-user-name" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "proxy-user-name",
                "sensitive" : false
              },
              "Proxy Host Port" : {
                "displayName" : "Proxy Host Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Host Port",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-scripting-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "fb7d210e-ebb9-3505-8e5c-6ef982c360e1",
            "name" : "List Files",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1752.0,
              "y" : -96.0
            },
            "properties" : {
              "Script Engine" : "Groovy",
              "Script Body" : "import java.nio.charset.StandardCharsets\nimport groovy.io.FileType\n\ndef flowFile = session.get()\nif(!flowFile) return\ndef flowFiles = [] as List<FlowFile>\ndef fetchDirectory = flowFile.getAttribute('path')\ndef listOfFiles = []\ndef dir = new File(fetchDirectory)\nif(dir.exists()) {\n   dir.eachFileRecurse (FileType.FILES) { file ->\n      listOfFiles << file\n   }\n}\nlistOfFiles.each { i ->\n   def newFlowFile = session.create()\n   session.putAttribute(newFlowFile, 'absolute.path', i.path.substring(0, i.path.lastIndexOf(File.separator)))\n   session.putAttribute(newFlowFile, 'filename', i.getName())\n   flowFiles << newFlowFile\n}\nsession.remove(flowFile)\nsession.transfer(flowFiles, REL_SUCCESS)"
            },
            "propertyDescriptors" : {
              "Script File" : {
                "displayName" : "Script File",
                "identifiesControllerService" : false,
                "name" : "Script File",
                "sensitive" : false
              },
              "Script Engine" : {
                "displayName" : "Script Engine",
                "identifiesControllerService" : false,
                "name" : "Script Engine",
                "sensitive" : false
              },
              "Script Body" : {
                "displayName" : "Script Body",
                "identifiesControllerService" : false,
                "name" : "Script Body",
                "sensitive" : false
              },
              "Module Directory" : {
                "displayName" : "Module Directory",
                "identifiesControllerService" : false,
                "name" : "Module Directory",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.script.ExecuteScript",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "e0c53d8f-0570-30e9-97b7-588fd123075d",
            "name" : "Invoke PATCH /jobs with Failed status",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1528.0,
              "y" : 920.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{jobsUrl}/${jobId}",
              "Content-Type" : "application/json",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "PATCH",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Attributes to Send",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Use HTTP ETag",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Basic Authentication Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Send Message Body",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Set Flowfile Form Data File Name",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Always Output Response",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Maximum ETag Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Put Response Body In Attribute",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Follow Redirects",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "Remote URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Flowfile Form Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Max Length To Put In Attribute",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Ignore response's content",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Use Digest Authentication",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Add Response Headers to Request",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Basic Authentication Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Include Date Header",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Penalize on \"No Retry\"",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Useragent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Response", "No Retry", "Retry", "Failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "d062ee6c-542d-32cf-a4a5-0fe089371be2",
            "name" : "Invoke PATCH /jobs with InProgress status",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1752.0,
              "y" : 312.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{jobsUrl}/${jobId}",
              "Content-Type" : "application/json",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "PATCH",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Attributes to Send",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Use HTTP ETag",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Basic Authentication Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Send Message Body",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Set Flowfile Form Data File Name",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Always Output Response",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Maximum ETag Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Put Response Body In Attribute",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Follow Redirects",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "Remote URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Flowfile Form Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Max Length To Put In Attribute",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Ignore response's content",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Use Digest Authentication",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Add Response Headers to Request",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Basic Authentication Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Include Date Header",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Penalize on \"No Retry\"",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Useragent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "f0bbec2d-35f2-314c-9041-6444b4bb6f77",
            "name" : "Route based on values",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1752.0,
              "y" : 584.0
            },
            "properties" : {
              "valid" : "${validations:equals('valid')}",
              "Routing Strategy" : "Route to Property name",
              "invalid" : "${validations:equals('invalid')}"
            },
            "propertyDescriptors" : {
              "valid" : {
                "displayName" : "valid",
                "identifiesControllerService" : false,
                "name" : "valid",
                "sensitive" : false
              },
              "Routing Strategy" : {
                "displayName" : "Routing Strategy",
                "identifiesControllerService" : false,
                "name" : "Routing Strategy",
                "sensitive" : false
              },
              "invalid" : {
                "displayName" : "invalid",
                "identifiesControllerService" : false,
                "name" : "invalid",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.RouteOnAttribute",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "Response", "No Retry", "Retry", "Original", "Failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "b346da86-99ed-31b3-97e7-6799be3e638f",
            "name" : "Invoke PATCH /jobs with Completed status",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1976.0,
              "y" : 1056.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{jobsUrl}/${jobId}",
              "Content-Type" : "application/json",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "PATCH",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Attributes to Send",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Use HTTP ETag",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Basic Authentication Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Send Message Body",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Set Flowfile Form Data File Name",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Always Output Response",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Maximum ETag Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Put Response Body In Attribute",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Follow Redirects",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "Remote URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Flowfile Form Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Max Length To Put In Attribute",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Ignore response's content",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Use Digest Authentication",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Add Response Headers to Request",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Basic Authentication Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Include Date Header",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Penalize on \"No Retry\"",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Useragent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "2c192b92-bf79-3121-84f7-735be8909aaa",
            "name" : "Invoke GET /validations",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1752.0,
              "y" : 448.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{helpersUrl}",
              "Content-Type" : "application/json",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "GET",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Attributes to Send",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Use HTTP ETag",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Basic Authentication Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Send Message Body",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Set Flowfile Form Data File Name",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Always Output Response",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Maximum ETag Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Put Response Body In Attribute",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Follow Redirects",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "Remote URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Flowfile Form Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Max Length To Put In Attribute",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Ignore response's content",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Use Digest Authentication",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Add Response Headers to Request",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Basic Authentication Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Include Date Header",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Penalize on \"No Retry\"",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Useragent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "1 min",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "20e5c561-f633-32f8-8d52-bced576c56ea",
            "name" : "Jolt Transform Json",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -2512.0,
              "y" : -240.0
            },
            "properties" : {
              "jolt-spec" : "[{\n\t\"operation\": \"shift\",\n\t\"spec\": {\n\t\t\"jobId\": \"jobId\",\n\t\t\"path\": \"path\",\n\t\t\"metadata\": \"metadata\"\n\t},\n\t\"operation\": \"modify-default-beta\",\n\t\"spec\": {\n\t\t\"flowId\": \"${UUID()}\"\n\t}\n}]",
              "jolt-transform" : "jolt-transform-chain",
              "pretty_print" : "false",
              "Transform Cache Size" : "1"
            },
            "propertyDescriptors" : {
              "jolt-spec" : {
                "displayName" : "Jolt Specification",
                "identifiesControllerService" : false,
                "name" : "jolt-spec",
                "sensitive" : false
              },
              "jolt-transform" : {
                "displayName" : "Jolt Transformation DSL",
                "identifiesControllerService" : false,
                "name" : "jolt-transform",
                "sensitive" : false
              },
              "jolt-custom-class" : {
                "displayName" : "Custom Transformation Class Name",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-class",
                "sensitive" : false
              },
              "jolt-custom-modules" : {
                "displayName" : "Custom Module Directory",
                "identifiesControllerService" : false,
                "name" : "jolt-custom-modules",
                "sensitive" : false
              },
              "pretty_print" : {
                "displayName" : "Pretty Print",
                "identifiesControllerService" : false,
                "name" : "pretty_print",
                "sensitive" : false
              },
              "Transform Cache Size" : {
                "displayName" : "Transform Cache Size",
                "identifiesControllerService" : false,
                "name" : "Transform Cache Size",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.JoltTransformJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "6f85cd18-c7b0-3ff0-863c-5d742b8177c4",
            "name" : "Invoke POST /catalog",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1976.0,
              "y" : 920.0
            },
            "properties" : {
              "use-etag" : "false",
              "Proxy Type" : "http",
              "Connection Timeout" : "5 secs",
              "send-message-body" : "true",
              "set-form-filename" : "true",
              "Always Output Response" : "false",
              "etag-max-cache-size" : "10MB",
              "idle-timeout" : "5 mins",
              "Use Chunked Encoding" : "false",
              "Follow Redirects" : "True",
              "Remote URL" : "#{catalogUrl}",
              "Content-Type" : "application/json",
              "max-idle-connections" : "5",
              "Read Timeout" : "15 secs",
              "Max Length To Put In Attribute" : "256",
              "ignore-response-content" : "false",
              "Digest Authentication" : "false",
              "HTTP Method" : "POST",
              "Add Response Headers to Request" : "false",
              "Include Date Header" : "True",
              "Penalize on \"No Retry\"" : "false"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "Attributes to Send" : {
                "displayName" : "Attributes to Send",
                "identifiesControllerService" : false,
                "name" : "Attributes to Send",
                "sensitive" : false
              },
              "use-etag" : {
                "displayName" : "Use HTTP ETag",
                "identifiesControllerService" : false,
                "name" : "use-etag",
                "sensitive" : false
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Proxy Type" : {
                "displayName" : "Proxy Type",
                "identifiesControllerService" : false,
                "name" : "Proxy Type",
                "sensitive" : false
              },
              "Basic Authentication Password" : {
                "displayName" : "Basic Authentication Password",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Password",
                "sensitive" : true
              },
              "Connection Timeout" : {
                "displayName" : "Connection Timeout",
                "identifiesControllerService" : false,
                "name" : "Connection Timeout",
                "sensitive" : false
              },
              "send-message-body" : {
                "displayName" : "Send Message Body",
                "identifiesControllerService" : false,
                "name" : "send-message-body",
                "sensitive" : false
              },
              "set-form-filename" : {
                "displayName" : "Set Flowfile Form Data File Name",
                "identifiesControllerService" : false,
                "name" : "set-form-filename",
                "sensitive" : false
              },
              "Always Output Response" : {
                "displayName" : "Always Output Response",
                "identifiesControllerService" : false,
                "name" : "Always Output Response",
                "sensitive" : false
              },
              "etag-max-cache-size" : {
                "displayName" : "Maximum ETag Cache Size",
                "identifiesControllerService" : false,
                "name" : "etag-max-cache-size",
                "sensitive" : false
              },
              "idle-timeout" : {
                "displayName" : "Idle Timeout",
                "identifiesControllerService" : false,
                "name" : "idle-timeout",
                "sensitive" : false
              },
              "Put Response Body In Attribute" : {
                "displayName" : "Put Response Body In Attribute",
                "identifiesControllerService" : false,
                "name" : "Put Response Body In Attribute",
                "sensitive" : false
              },
              "Use Chunked Encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "Use Chunked Encoding",
                "sensitive" : false
              },
              "Follow Redirects" : {
                "displayName" : "Follow Redirects",
                "identifiesControllerService" : false,
                "name" : "Follow Redirects",
                "sensitive" : false
              },
              "Remote URL" : {
                "displayName" : "Remote URL",
                "identifiesControllerService" : false,
                "name" : "Remote URL",
                "sensitive" : false
              },
              "Content-Type" : {
                "displayName" : "Content-Type",
                "identifiesControllerService" : false,
                "name" : "Content-Type",
                "sensitive" : false
              },
              "form-body-form-name" : {
                "displayName" : "Flowfile Form Data Name",
                "identifiesControllerService" : false,
                "name" : "form-body-form-name",
                "sensitive" : false
              },
              "max-idle-connections" : {
                "displayName" : "Max Idle Connections",
                "identifiesControllerService" : false,
                "name" : "max-idle-connections",
                "sensitive" : false
              },
              "invokehttp-proxy-user" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-user",
                "sensitive" : false
              },
              "Read Timeout" : {
                "displayName" : "Read Timeout",
                "identifiesControllerService" : false,
                "name" : "Read Timeout",
                "sensitive" : false
              },
              "Max Length To Put In Attribute" : {
                "displayName" : "Max Length To Put In Attribute",
                "identifiesControllerService" : false,
                "name" : "Max Length To Put In Attribute",
                "sensitive" : false
              },
              "invokehttp-proxy-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "invokehttp-proxy-password",
                "sensitive" : true
              },
              "ignore-response-content" : {
                "displayName" : "Ignore response's content",
                "identifiesControllerService" : false,
                "name" : "ignore-response-content",
                "sensitive" : false
              },
              "Proxy Port" : {
                "displayName" : "Proxy Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Port",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Digest Authentication" : {
                "displayName" : "Use Digest Authentication",
                "identifiesControllerService" : false,
                "name" : "Digest Authentication",
                "sensitive" : false
              },
              "HTTP Method" : {
                "displayName" : "HTTP Method",
                "identifiesControllerService" : false,
                "name" : "HTTP Method",
                "sensitive" : false
              },
              "Add Response Headers to Request" : {
                "displayName" : "Add Response Headers to Request",
                "identifiesControllerService" : false,
                "name" : "Add Response Headers to Request",
                "sensitive" : false
              },
              "Basic Authentication Username" : {
                "displayName" : "Basic Authentication Username",
                "identifiesControllerService" : false,
                "name" : "Basic Authentication Username",
                "sensitive" : false
              },
              "Include Date Header" : {
                "displayName" : "Include Date Header",
                "identifiesControllerService" : false,
                "name" : "Include Date Header",
                "sensitive" : false
              },
              "Penalize on \"No Retry\"" : {
                "displayName" : "Penalize on \"No Retry\"",
                "identifiesControllerService" : false,
                "name" : "Penalize on \"No Retry\"",
                "sensitive" : false
              },
              "Useragent" : {
                "displayName" : "Useragent",
                "identifiesControllerService" : false,
                "name" : "Useragent",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "db371b1f-2651-36e2-a74c-22cfae8573ca",
            "name" : "AttributesToJSON",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -752.0,
              "y" : -200.0
            },
            "properties" : {
              "Destination" : "flowfile-content",
              "Null Value" : "false",
              "Attributes List" : "productId,productName,geographicArea,productVersion,productType,description,classification,footprint,extentLowerLeft,extentUpperRight,SourceDateStart,SourceDateEnd,producerName,SRS,SRSOrigin,nominalResolution,accuracyLE90,horizontalAccuracyCE90,relativeAccuracyLE90,heightRangeFrom,heightRangeTo,sensor,productionMethod,productionSystem",
              "Include Core Attributes" : "true"
            },
            "propertyDescriptors" : {
              "attributes-to-json-regex" : {
                "displayName" : "Attributes Regular Expression",
                "identifiesControllerService" : false,
                "name" : "attributes-to-json-regex",
                "sensitive" : false
              },
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "Null Value" : {
                "displayName" : "Null Value",
                "identifiesControllerService" : false,
                "name" : "Null Value",
                "sensitive" : false
              },
              "Attributes List" : {
                "displayName" : "Attributes List",
                "identifiesControllerService" : false,
                "name" : "Attributes List",
                "sensitive" : false
              },
              "Include Core Attributes" : {
                "displayName" : "Include Core Attributes",
                "identifiesControllerService" : false,
                "name" : "Include Core Attributes",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ "failure", "unmatched" ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-standard-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "f3075c68-d095-3cc3-8103-eb18c86a673e",
            "name" : "EvaluateJsonPath",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1752.0,
              "y" : -232.0
            },
            "properties" : {
              "Destination" : "flowfile-attribute",
              "jobId" : "$.jobId",
              "path" : "$.path",
              "Return Type" : "auto-detect",
              "Null Value Representation" : "empty string",
              "flowId" : "$.flowId",
              "Path Not Found Behavior" : "ignore"
            },
            "propertyDescriptors" : {
              "Destination" : {
                "displayName" : "Destination",
                "identifiesControllerService" : false,
                "name" : "Destination",
                "sensitive" : false
              },
              "jobId" : {
                "displayName" : "jobId",
                "identifiesControllerService" : false,
                "name" : "jobId",
                "sensitive" : false
              },
              "path" : {
                "displayName" : "path",
                "identifiesControllerService" : false,
                "name" : "path",
                "sensitive" : false
              },
              "Return Type" : {
                "displayName" : "Return Type",
                "identifiesControllerService" : false,
                "name" : "Return Type",
                "sensitive" : false
              },
              "Null Value Representation" : {
                "displayName" : "Null Value Representation",
                "identifiesControllerService" : false,
                "name" : "Null Value Representation",
                "sensitive" : false
              },
              "flowId" : {
                "displayName" : "flowId",
                "identifiesControllerService" : false,
                "name" : "flowId",
                "sensitive" : false
              },
              "Path Not Found Behavior" : {
                "displayName" : "Path Not Found Behavior",
                "identifiesControllerService" : false,
                "name" : "Path Not Found Behavior",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-aws-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "60e50422-f3b2-3c3f-b60c-9bedb4383178",
            "name" : "Store Files in S3 failed bucket",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1528.0,
              "y" : 784.0
            },
            "properties" : {
              "FullControl User List" : "${s3.permissions.full.users}",
              "Owner" : "${s3.owner}",
              "s3-object-remove-tags-prefix" : "false",
              "Endpoint Override URL" : "http://10.45.129.235:9000",
              "Multipart Upload Max Age Threshold" : "7 days",
              "canned-acl" : "${s3.permissions.cannedacl}",
              "Signer Override" : "Default Signature",
              "Write ACL User List" : "${s3.permissions.writeacl.users}",
              "server-side-encryption" : "None",
              "Read ACL User List" : "${s3.permissions.readacl.users}",
              "Storage Class" : "Standard",
              "Multipart Part Size" : "5 GB",
              "use-chunked-encoding" : "true",
              "Object Key" : "${filename}",
              "Multipart Threshold" : "5 GB",
              "Bucket" : "#{bucket}/failed",
              "Multipart Upload AgeOff Interval" : "60 min",
              "use-path-style-access" : "false",
              "Write Permission User List" : "${s3.permissions.write.users}",
              "Communications Timeout" : "30 secs",
              "Region" : "us-west-2",
              "Read Permission User List" : "${s3.permissions.read.users}"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "FullControl User List" : {
                "displayName" : "FullControl User List",
                "identifiesControllerService" : false,
                "name" : "FullControl User List",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Access Key" : {
                "displayName" : "Access Key ID",
                "identifiesControllerService" : false,
                "name" : "Access Key",
                "sensitive" : true
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Cache Control" : {
                "displayName" : "Cache Control",
                "identifiesControllerService" : false,
                "name" : "Cache Control",
                "sensitive" : false
              },
              "s3-object-remove-tags-prefix" : {
                "displayName" : "Remove Tag Prefix",
                "identifiesControllerService" : false,
                "name" : "s3-object-remove-tags-prefix",
                "sensitive" : false
              },
              "Endpoint Override URL" : {
                "displayName" : "Endpoint Override URL",
                "identifiesControllerService" : false,
                "name" : "Endpoint Override URL",
                "sensitive" : false
              },
              "Multipart Upload Max Age Threshold" : {
                "displayName" : "Multipart Upload Max Age Threshold",
                "identifiesControllerService" : false,
                "name" : "Multipart Upload Max Age Threshold",
                "sensitive" : false
              },
              "canned-acl" : {
                "displayName" : "Canned ACL",
                "identifiesControllerService" : false,
                "name" : "canned-acl",
                "sensitive" : false
              },
              "Signer Override" : {
                "displayName" : "Signer Override",
                "identifiesControllerService" : false,
                "name" : "Signer Override",
                "sensitive" : false
              },
              "proxy-user-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "proxy-user-password",
                "sensitive" : true
              },
              "Content Type" : {
                "displayName" : "Content Type",
                "identifiesControllerService" : false,
                "name" : "Content Type",
                "sensitive" : false
              },
              "Secret Key" : {
                "displayName" : "Secret Access Key",
                "identifiesControllerService" : false,
                "name" : "Secret Key",
                "sensitive" : true
              },
              "Write ACL User List" : {
                "displayName" : "Write ACL User List",
                "identifiesControllerService" : false,
                "name" : "Write ACL User List",
                "sensitive" : false
              },
              "server-side-encryption" : {
                "displayName" : "Server Side Encryption",
                "identifiesControllerService" : false,
                "name" : "server-side-encryption",
                "sensitive" : false
              },
              "Read ACL User List" : {
                "displayName" : "Read ACL User List",
                "identifiesControllerService" : false,
                "name" : "Read ACL User List",
                "sensitive" : false
              },
              "encryption-service" : {
                "displayName" : "Encryption Service",
                "identifiesControllerService" : true,
                "name" : "encryption-service",
                "sensitive" : false
              },
              "Content Disposition" : {
                "displayName" : "Content Disposition",
                "identifiesControllerService" : false,
                "name" : "Content Disposition",
                "sensitive" : false
              },
              "Storage Class" : {
                "displayName" : "Storage Class",
                "identifiesControllerService" : false,
                "name" : "Storage Class",
                "sensitive" : false
              },
              "Multipart Part Size" : {
                "displayName" : "Multipart Part Size",
                "identifiesControllerService" : false,
                "name" : "Multipart Part Size",
                "sensitive" : false
              },
              "use-chunked-encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "use-chunked-encoding",
                "sensitive" : false
              },
              "Object Key" : {
                "displayName" : "Object Key",
                "identifiesControllerService" : false,
                "name" : "Object Key",
                "sensitive" : false
              },
              "AWS Credentials Provider service" : {
                "displayName" : "AWS Credentials Provider service",
                "identifiesControllerService" : true,
                "name" : "AWS Credentials Provider service",
                "sensitive" : false
              },
              "Multipart Threshold" : {
                "displayName" : "Multipart Threshold",
                "identifiesControllerService" : false,
                "name" : "Multipart Threshold",
                "sensitive" : false
              },
              "s3-object-tags-prefix" : {
                "displayName" : "Object Tags Prefix",
                "identifiesControllerService" : false,
                "name" : "s3-object-tags-prefix",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Bucket" : {
                "displayName" : "Bucket",
                "identifiesControllerService" : false,
                "name" : "Bucket",
                "sensitive" : false
              },
              "Multipart Upload AgeOff Interval" : {
                "displayName" : "Multipart Upload AgeOff Interval",
                "identifiesControllerService" : false,
                "name" : "Multipart Upload AgeOff Interval",
                "sensitive" : false
              },
              "use-path-style-access" : {
                "displayName" : "Use Path Style Access",
                "identifiesControllerService" : false,
                "name" : "use-path-style-access",
                "sensitive" : false
              },
              "Write Permission User List" : {
                "displayName" : "Write Permission User List",
                "identifiesControllerService" : false,
                "name" : "Write Permission User List",
                "sensitive" : false
              },
              "Communications Timeout" : {
                "displayName" : "Communications Timeout",
                "identifiesControllerService" : false,
                "name" : "Communications Timeout",
                "sensitive" : false
              },
              "Credentials File" : {
                "displayName" : "Credentials File",
                "identifiesControllerService" : false,
                "name" : "Credentials File",
                "sensitive" : false
              },
              "Region" : {
                "displayName" : "Region",
                "identifiesControllerService" : false,
                "name" : "Region",
                "sensitive" : false
              },
              "Read Permission User List" : {
                "displayName" : "Read Permission User List",
                "identifiesControllerService" : false,
                "name" : "Read Permission User List",
                "sensitive" : false
              },
              "Expiration Time Rule" : {
                "displayName" : "Expiration Time Rule",
                "identifiesControllerService" : false,
                "name" : "Expiration Time Rule",
                "sensitive" : false
              },
              "proxy-user-name" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "proxy-user-name",
                "sensitive" : false
              },
              "Proxy Host Port" : {
                "displayName" : "Proxy Host Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Host Port",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
            "yieldDuration" : "1 sec"
          }, {
            "autoTerminatedRelationships" : [ ],
            "bulletinLevel" : "WARN",
            "bundle" : {
              "artifact" : "nifi-aws-nar",
              "group" : "org.apache.nifi",
              "version" : "1.12.1"
            },
            "comments" : "",
            "componentType" : "PROCESSOR",
            "concurrentlySchedulableTaskCount" : 1,
            "executionNode" : "ALL",
            "groupIdentifier" : "011e87ca-02dd-31e0-8e90-f6a6c57ff368",
            "identifier" : "7787a116-78ab-3f8c-b083-a265af43ae73",
            "name" : "Store Files in S3 completed bucket",
            "penaltyDuration" : "30 sec",
            "position" : {
              "x" : -1976.0,
              "y" : 784.0
            },
            "properties" : {
              "FullControl User List" : "${s3.permissions.full.users}",
              "Owner" : "${s3.owner}",
              "s3-object-remove-tags-prefix" : "false",
              "Endpoint Override URL" : "http://10.45.129.235:9000",
              "Multipart Upload Max Age Threshold" : "7 days",
              "canned-acl" : "${s3.permissions.cannedacl}",
              "Signer Override" : "Default Signature",
              "Write ACL User List" : "${s3.permissions.writeacl.users}",
              "server-side-encryption" : "None",
              "Read ACL User List" : "${s3.permissions.readacl.users}",
              "Storage Class" : "Standard",
              "Multipart Part Size" : "5 GB",
              "use-chunked-encoding" : "true",
              "Object Key" : "${filename}",
              "Multipart Threshold" : "5 GB",
              "Bucket" : "#{bucket}/completed",
              "Multipart Upload AgeOff Interval" : "60 min",
              "use-path-style-access" : "false",
              "Write Permission User List" : "${s3.permissions.write.users}",
              "Communications Timeout" : "30 secs",
              "Region" : "us-west-2",
              "Read Permission User List" : "${s3.permissions.read.users}"
            },
            "propertyDescriptors" : {
              "Proxy Host" : {
                "displayName" : "Proxy Host",
                "identifiesControllerService" : false,
                "name" : "Proxy Host",
                "sensitive" : false
              },
              "FullControl User List" : {
                "displayName" : "FullControl User List",
                "identifiesControllerService" : false,
                "name" : "FullControl User List",
                "sensitive" : false
              },
              "Owner" : {
                "displayName" : "Owner",
                "identifiesControllerService" : false,
                "name" : "Owner",
                "sensitive" : false
              },
              "Access Key" : {
                "displayName" : "Access Key ID",
                "identifiesControllerService" : false,
                "name" : "Access Key",
                "sensitive" : true
              },
              "proxy-configuration-service" : {
                "displayName" : "Proxy Configuration Service",
                "identifiesControllerService" : true,
                "name" : "proxy-configuration-service",
                "sensitive" : false
              },
              "Cache Control" : {
                "displayName" : "Cache Control",
                "identifiesControllerService" : false,
                "name" : "Cache Control",
                "sensitive" : false
              },
              "s3-object-remove-tags-prefix" : {
                "displayName" : "Remove Tag Prefix",
                "identifiesControllerService" : false,
                "name" : "s3-object-remove-tags-prefix",
                "sensitive" : false
              },
              "Endpoint Override URL" : {
                "displayName" : "Endpoint Override URL",
                "identifiesControllerService" : false,
                "name" : "Endpoint Override URL",
                "sensitive" : false
              },
              "Multipart Upload Max Age Threshold" : {
                "displayName" : "Multipart Upload Max Age Threshold",
                "identifiesControllerService" : false,
                "name" : "Multipart Upload Max Age Threshold",
                "sensitive" : false
              },
              "canned-acl" : {
                "displayName" : "Canned ACL",
                "identifiesControllerService" : false,
                "name" : "canned-acl",
                "sensitive" : false
              },
              "Signer Override" : {
                "displayName" : "Signer Override",
                "identifiesControllerService" : false,
                "name" : "Signer Override",
                "sensitive" : false
              },
              "proxy-user-password" : {
                "displayName" : "Proxy Password",
                "identifiesControllerService" : false,
                "name" : "proxy-user-password",
                "sensitive" : true
              },
              "Content Type" : {
                "displayName" : "Content Type",
                "identifiesControllerService" : false,
                "name" : "Content Type",
                "sensitive" : false
              },
              "Secret Key" : {
                "displayName" : "Secret Access Key",
                "identifiesControllerService" : false,
                "name" : "Secret Key",
                "sensitive" : true
              },
              "Write ACL User List" : {
                "displayName" : "Write ACL User List",
                "identifiesControllerService" : false,
                "name" : "Write ACL User List",
                "sensitive" : false
              },
              "server-side-encryption" : {
                "displayName" : "Server Side Encryption",
                "identifiesControllerService" : false,
                "name" : "server-side-encryption",
                "sensitive" : false
              },
              "Read ACL User List" : {
                "displayName" : "Read ACL User List",
                "identifiesControllerService" : false,
                "name" : "Read ACL User List",
                "sensitive" : false
              },
              "encryption-service" : {
                "displayName" : "Encryption Service",
                "identifiesControllerService" : true,
                "name" : "encryption-service",
                "sensitive" : false
              },
              "Content Disposition" : {
                "displayName" : "Content Disposition",
                "identifiesControllerService" : false,
                "name" : "Content Disposition",
                "sensitive" : false
              },
              "Storage Class" : {
                "displayName" : "Storage Class",
                "identifiesControllerService" : false,
                "name" : "Storage Class",
                "sensitive" : false
              },
              "Multipart Part Size" : {
                "displayName" : "Multipart Part Size",
                "identifiesControllerService" : false,
                "name" : "Multipart Part Size",
                "sensitive" : false
              },
              "use-chunked-encoding" : {
                "displayName" : "Use Chunked Encoding",
                "identifiesControllerService" : false,
                "name" : "use-chunked-encoding",
                "sensitive" : false
              },
              "Object Key" : {
                "displayName" : "Object Key",
                "identifiesControllerService" : false,
                "name" : "Object Key",
                "sensitive" : false
              },
              "AWS Credentials Provider service" : {
                "displayName" : "AWS Credentials Provider service",
                "identifiesControllerService" : true,
                "name" : "AWS Credentials Provider service",
                "sensitive" : false
              },
              "Multipart Threshold" : {
                "displayName" : "Multipart Threshold",
                "identifiesControllerService" : false,
                "name" : "Multipart Threshold",
                "sensitive" : false
              },
              "s3-object-tags-prefix" : {
                "displayName" : "Object Tags Prefix",
                "identifiesControllerService" : false,
                "name" : "s3-object-tags-prefix",
                "sensitive" : false
              },
              "SSL Context Service" : {
                "displayName" : "SSL Context Service",
                "identifiesControllerService" : true,
                "name" : "SSL Context Service",
                "sensitive" : false
              },
              "Bucket" : {
                "displayName" : "Bucket",
                "identifiesControllerService" : false,
                "name" : "Bucket",
                "sensitive" : false
              },
              "Multipart Upload AgeOff Interval" : {
                "displayName" : "Multipart Upload AgeOff Interval",
                "identifiesControllerService" : false,
                "name" : "Multipart Upload AgeOff Interval",
                "sensitive" : false
              },
              "use-path-style-access" : {
                "displayName" : "Use Path Style Access",
                "identifiesControllerService" : false,
                "name" : "use-path-style-access",
                "sensitive" : false
              },
              "Write Permission User List" : {
                "displayName" : "Write Permission User List",
                "identifiesControllerService" : false,
                "name" : "Write Permission User List",
                "sensitive" : false
              },
              "Communications Timeout" : {
                "displayName" : "Communications Timeout",
                "identifiesControllerService" : false,
                "name" : "Communications Timeout",
                "sensitive" : false
              },
              "Credentials File" : {
                "displayName" : "Credentials File",
                "identifiesControllerService" : false,
                "name" : "Credentials File",
                "sensitive" : false
              },
              "Region" : {
                "displayName" : "Region",
                "identifiesControllerService" : false,
                "name" : "Region",
                "sensitive" : false
              },
              "Read Permission User List" : {
                "displayName" : "Read Permission User List",
                "identifiesControllerService" : false,
                "name" : "Read Permission User List",
                "sensitive" : false
              },
              "Expiration Time Rule" : {
                "displayName" : "Expiration Time Rule",
                "identifiesControllerService" : false,
                "name" : "Expiration Time Rule",
                "sensitive" : false
              },
              "proxy-user-name" : {
                "displayName" : "Proxy Username",
                "identifiesControllerService" : false,
                "name" : "proxy-user-name",
                "sensitive" : false
              },
              "Proxy Host Port" : {
                "displayName" : "Proxy Host Port",
                "identifiesControllerService" : false,
                "name" : "Proxy Host Port",
                "sensitive" : false
              }
            },
            "runDurationMillis" : 0,
            "scheduledState" : "ENABLED",
            "schedulingPeriod" : "0 sec",
            "schedulingStrategy" : "TIMER_DRIVEN",
            "style" : { },
            "type" : "org.apache.nifi.processors.aws.s3.PutS3Object",
            "yieldDuration" : "1 sec"
          } ],
          "remoteProcessGroups" : [ ],
          "variables" : { }
        } ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "0d731f35-e42d-37f0-af97-e42d8050f1e1",
          "name" : "Handle Http POST Request",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 440.0,
            "y" : -16.0
          },
          "properties" : {
            "multipart-request-max-size" : "1 MB",
            "Allow POST" : "true",
            "Default URL Character Set" : "UTF-8",
            "Allow DELETE" : "false",
            "container-queue-size" : "50",
            "HTTP Context Map" : "bf9f17e3-94a9-3d70-b96c-ead039effd77",
            "multipart-read-buffer-size" : "512 KB",
            "Allow OPTIONS" : "false",
            "Allow GET" : "false",
            "Allow HEAD" : "false",
            "Listening Port" : "#{port}",
            "Client Authentication" : "No Authentication",
            "Allow PUT" : "false"
          },
          "propertyDescriptors" : {
            "multipart-request-max-size" : {
              "displayName" : "Multipart Request Max Size",
              "identifiesControllerService" : false,
              "name" : "multipart-request-max-size",
              "sensitive" : false
            },
            "Allow POST" : {
              "displayName" : "Allow POST",
              "identifiesControllerService" : false,
              "name" : "Allow POST",
              "sensitive" : false
            },
            "Hostname" : {
              "displayName" : "Hostname",
              "identifiesControllerService" : false,
              "name" : "Hostname",
              "sensitive" : false
            },
            "Default URL Character Set" : {
              "displayName" : "Default URL Character Set",
              "identifiesControllerService" : false,
              "name" : "Default URL Character Set",
              "sensitive" : false
            },
            "Allow DELETE" : {
              "displayName" : "Allow DELETE",
              "identifiesControllerService" : false,
              "name" : "Allow DELETE",
              "sensitive" : false
            },
            "Additional HTTP Methods" : {
              "displayName" : "Additional HTTP Methods",
              "identifiesControllerService" : false,
              "name" : "Additional HTTP Methods",
              "sensitive" : false
            },
            "container-queue-size" : {
              "displayName" : "Container Queue Size",
              "identifiesControllerService" : false,
              "name" : "container-queue-size",
              "sensitive" : false
            },
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "multipart-read-buffer-size" : {
              "displayName" : "Multipart Read Buffer Size",
              "identifiesControllerService" : false,
              "name" : "multipart-read-buffer-size",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Allow OPTIONS" : {
              "displayName" : "Allow OPTIONS",
              "identifiesControllerService" : false,
              "name" : "Allow OPTIONS",
              "sensitive" : false
            },
            "Allowed Paths" : {
              "displayName" : "Allowed Paths",
              "identifiesControllerService" : false,
              "name" : "Allowed Paths",
              "sensitive" : false
            },
            "Allow GET" : {
              "displayName" : "Allow GET",
              "identifiesControllerService" : false,
              "name" : "Allow GET",
              "sensitive" : false
            },
            "Allow HEAD" : {
              "displayName" : "Allow HEAD",
              "identifiesControllerService" : false,
              "name" : "Allow HEAD",
              "sensitive" : false
            },
            "Listening Port" : {
              "displayName" : "Listening Port",
              "identifiesControllerService" : false,
              "name" : "Listening Port",
              "sensitive" : false
            },
            "Client Authentication" : {
              "displayName" : "Client Authentication",
              "identifiesControllerService" : false,
              "name" : "Client Authentication",
              "sensitive" : false
            },
            "Allow PUT" : {
              "displayName" : "Allow PUT",
              "identifiesControllerService" : false,
              "name" : "Allow PUT",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpRequest",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.12.1"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "19a81927-a8d0-32a9-be07-5b2b90d37a7f",
          "identifier" : "24a9bed4-e850-3131-bdae-d0d4c5166194",
          "name" : "Handle Http POST Response",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 448.0,
            "y" : 424.0
          },
          "properties" : {
            "HTTP Context Map" : "bf9f17e3-94a9-3d70-b96c-ead039effd77",
            "HTTP Status Code" : "201"
          },
          "propertyDescriptors" : {
            "HTTP Context Map" : {
              "displayName" : "HTTP Context Map",
              "identifiesControllerService" : true,
              "name" : "HTTP Context Map",
              "sensitive" : false
            },
            "HTTP Status Code" : {
              "displayName" : "HTTP Status Code",
              "identifiesControllerService" : false,
              "name" : "HTTP Status Code",
              "sensitive" : false
            }
          },
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.HandleHttpResponse",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "3dFlowParams" : {
          "name" : "3dFlowParams",
          "parameters" : [ {
            "description" : "",
            "name" : "modelsUrl",
            "sensitive" : false,
            "value" : "http://localhost:8082/models"
          }, {
            "description" : "",
            "name" : "jobsUrl",
            "sensitive" : false,
            "value" : "http://localhost:8081/jobs"
          }, {
            "description" : "",
            "name" : "bucket",
            "sensitive" : false,
            "value" : "3dtiles"
          }, {
            "description" : "",
            "name" : "catalogUrl",
            "sensitive" : false,
            "value" : "http://localhost:8085/metadata"
          }, {
            "description" : "",
            "name" : "port",
            "sensitive" : false,
            "value" : "8083"
          }, {
            "description" : "",
            "name" : "helpersUrl",
            "sensitive" : false,
            "value" : "http://localhost:8084/validations"
          } ]
        }
      }
    }
  }
}